#alert-message
{
    width:97%;
}
#session-info
{
    padding: 10px;
    font-size: 20px;
}
.datepicker
{
    z-index: 99999;
}
.alert
{
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: 4px;
}
.alert-success
{
    background-color: #2431C5;
    color: #FFF;
}
.alert-danger
{
    background-color: #A80000;
    color: #FFF;
}
.alert-warning
{
    background-color: #FCF329;
    color: #000;
}

.modal_base{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.alertBootstrap
{
    z-index: 1300 !important;
}

.ui-datepicker-month,.ui-datepicker-year{
    color:#000000;
}

input[type="checkbox"] {
   transform:scale(2,2);
   -ms-transform:scale(1,1); /* IE 9 */
   -moz-transform:scale(2,2); /* Firefox */
   -webkit-transform:scale(1,1); /* Safari and Chrome */
   -o-transform:scale(1,1); /* Opera */
}

@media screen and (max-width: 993px){

	#mdr_logo{
		width: 20% !important;
		position: relative !important;
		float: left !important;
		margin-left: 15px !important;
	}

}


@media screen and (max-width: 1127px){

  #head-menu{
    display: none;
  }

  #space-menu{
    width: 93% !important;
  }

}

@media screen and (max-width: 768px){

  #logo_responsive{
    display: block !important;
    position: absolute;
  }

  #user_responsive{
    display: block !important;
    position: absolute;   
  }

}