{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Talleres & Apoyos {% endblock title %}

{% block stylesheets %}
  	<link href="{{ asset('bundles/intranet/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css">
	<style>
		#edit_Guardar {
		    margin-top: 15px;
		    float: left;
		}
		#edit_Cancelar {
		    margin-top: 15px;
		    margin-left: 15px;
		}
		#form_Consultar {
		    margin-top: 25px;
		}
	</style>	
{% endblock %}

{% block body -%}
        
        	<section class="content-header">
	          <h1>
	            Talleres & Apoyos.
	          </h1>
	        </section>
        <section class="content">  
        	<div class="box box-info">
      
                <div class="box-body" style="padding: 2%;">
		        	<div class="row">
		        		{{ form_start(form_consulta) }}
		                  {% for row in [		                    
		                    [ ['activas'],	['Consultar']	]
		                    ] 
		                  %}
		                    <div class="row">   
		                    {% for field in row %}
		                      <div class="col-md-{{ field[1] is defined ? field[1] * 4 :  4 }}">
		                        {% if (attribute(form_consulta, field[0]) is defined) %}
		                          {{ form_row(attribute(form_consulta, field[0])) }}
		                        {% endif %}
		                      </div>
		                    {% endfor %}
		                    </div>
		                  {% endfor %}
		                  {{ form_rest(form_consulta) }}
		                  {{ form_end(form_consulta) }}
		        	</div>
		        </div>
		    </div>

		    <div class="box box-warning">
                <div class="box-body">
                	<table class="table table-hover table-striped" id="tbl_talleres">
				    	<thead>
				    		<th>Encabezado.</th>
				    		<th>Impartido por:</th>
				    		<th>Taller/Apoyo.</th>
				    		<th>Inicio Inscripción.</th>
				    		<th>Fin Inscripción.</th>
				    		<th><i class="fa fa-wrench"></i></th>
				    	</thead>
				    	<tbody>
				    		{% for entity in Talleres %}
					    		<tr>
					    			<td>{{ entity.Nombre}}</td>
					    			<td>{{ entity.usuario.uNombre }} {{ entity.usuario.uApPaterno }} {{ entity.usuario.uApMaterno }}</td>
					    				{% if entity.Tipo == 1%}
											<td style="text-align: center; font-size: 24px;"><span class="label label-success">TALLER</span></td>
										{% elseif entity.Tipo == 0%} 
											<td style="text-align: center; font-size: 24px;"><span class="label label-info">APOYO</span></td>
										{% endif %}
					    			<td>{{ entity.FechaInicio.date|date("d/m/Y") }}</td>
					    			<td>{{ entity.FechaFin.date|date("d/m/Y") }}</td>
					    			<td> 
					    				<button class="btn btn-success" onclick="editTaller({{ entity.idTaller }});"><i class="fa fa-edit"></i></button>
					    				&nbsp;
				                        <button class="btn btn-danger" onclick="deleteTaller({{ entity.idTaller }},{{ entity.Registros|length }});"><i class="fa  fa-times-circle"></i></button>
				                    </td>
				                </tr>    
							{% endfor %}
				    	</tbody>
					</table>
                </div>
             </div>
		   	

		   	<div class="box box-primary">
		   		<div class="box-header">
                  <h3 class="box-title">Editar Taller o Apoyo</h3>
                </div>
                <div class="box-body" id="space_edition">

				</div>
            </div>

		</section> 	
    

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/intranet/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}" type="text/javascript"></script>
  	<script src="{{ asset('bundles/intranet/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.es-ES.js') }}"></script>
  	<script type="text/javascript" src="{{ asset('vendor/js/underscore.js') }}"></script>
	<script type="text/template" id='editar_taller'>
	  	<div class="row">
	  		<div class="col-md-4">
		        <div>
		        	<label for="edit_titulo" class="required">* Nombre:</label>
		        	<input id="edit_titulo"  class="form-control" maxlength="200" value="<%= Info.Nombre %>" type="text">
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div>                
		        	<label for="edit_tipo" class="required">* Tipo:</label>
		        	<select id="edit_tipo" class="form-control">
	        			<option value="" selected="selected">----------------------------------------</option>
	        			<option value="1">Taller</option>
	        			<option value="0">Apoyo</option>
        			</select>
        		</div>
		    </div>
		    <div class="col-md-4">
		        <div>                
		        	<label for="edit_Usuario" class="required">* Usuario que lo impartira:</label>
		        	<select id="edit_Usuario" class="form-control">
		        		<% _.each(users ,function(item, key){ %>
		        				<option value="<%= item.uNumero %>"><%= item.name %></option>
						<% }); %>
		        	</select>	
		        </div>
		    </div>
		    <div class="col-md-12">
		        <div>                
		        	<label for="edit_cuerpo" class="required">* Descripción del Taller o Apoyo:</label>
		        	<textarea placeholder="<%= Info.descripcion %>" id="edit_cuerpo" class="form-control" style="width: 100%; height: 250px; resize: none;"></textarea>
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div>                
		        	<label for="edit_fechaInicio" class="required">* Fecha de Inicio (cuando inician inscripciones)</label>
		        	<input id="edit_fechaInicio" readonly="readonly" onchange="vd_date()" class="form-control" value="<%= Info.InicioGregorian %>" >
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div>                
		        	<label for="edit_fechaFin" class="required">* Fecha de Fin (cuando terminan inscripciones)</label>
		        	<input id="edit_fechaFin" readonly="readonly" onchange="vd_date()" class="form-control" value="<%= Info.FinGregorian %>">
		        </div>
		    </div>    	
	  	</div>
	  	<div>
	  		<button type="button" id="edit_Guardar" class="btn btn-primary" onclick="save(<%= Info.idTaller %>)">Guardar</button>
	  	</div>
	  	<div>
	  		<button type="reset" id="edit_Cancelar" class="btn btn-danger" onclick="clearForm()">Cancelar</button>
	  	</div>
	  	<script>
	  	$("#edit_cuerpo").wysihtml5({
	            "link": false,
	            "image": false,
	            locale: "es-ES"
	        });

	    
	

		function clearForm(){
			$('#space_edition').html(""); 
		}

		$( "#edit_fechaInicio" ).datepicker({
	      format:   "dd/mm/yyyy",
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "2015:2050",
	      minDate: "-0D",
	    });

	    $( "#edit_fechaFin" ).datepicker({
	      format:   "dd/mm/yyyy",
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "2015:2050",
	      minDate: "-0D",
	    });

	    //validar fechas    
	    function vd_date(){
	        
	        var date1 = createdate($('#edit_fechaInicio').val());
	        var date2 = createdate($('#edit_fechaFin').val());

	        if (date1 > date2){
	            alert("La fecha de fin no puede ser una fecha anterior a la fecha de Inicio");
	            $('#edit_Guardar').attr("disabled", true);    
	        }else{
	        	$('#edit_Guardar').attr("disabled", false); 
	        }

	    }    

	    var usuario = <%= Info.usuario.uNumero %>;
	    var tipo = <%= Info.Tipo %>;


	    if(tipo == true ){
	    	$('#edit_tipo').val(1);
	    }else{
	    	$('#edit_tipo').val(0);
	    }

	    $('#edit_Usuario').val(usuario)
	    document.getElementById("edit_cuerpo").focus();
	    </script>    
	</script>
	<script>

		$(document).ready(function() {

		    $('#tbl_talleres').DataTable({
        		"language":DataTables.languaje.es
        	});

		    $( "select" ).addClass( "form-control" );
			$( "input[type='text']" ).addClass( "form-control" );
			$( "input[type='search']").addClass( "form-contro" );		        	
			$( "#tbl_talleres_length" ).addClass( "form-inline" );
			$( "#tbl_talleres_filter" ).addClass( "form-inline" );

		});

	



	    function deleteTaller(idTaller,inscritos){
	    	confirmar=confirm("¿Decea eliminar el Taller ?"); 
    		if(confirmar){
    			var urlGetNoticias = "{{path('delete_taller')}}"; 

    			if(inscritos > 0){
	    			
	    			existenInscritos=confirm("¿Ya hay personas inscritas decea continuar ?"); 
	    			if(existenInscritos){
						showLoading("Eliminando Taller");
						$.post(urlGetNoticias, {idTaller:idTaller}, function(data, textStatus, xhr) {
						
								if(data.estatus == 1){
									document.location.href= "{{ path('admin_talleres') }}";
								}else{
									hideLoading();
									alert(data.mensaje);
								}
						

						});
					}	

				}else{
					showLoading("Eliminando Taller");
						$.post(urlGetNoticias, {idTaller:idTaller}, function(data, textStatus, xhr) {
						
								if(data.estatus == 1){
									document.location.href= "{{ path('admin_talleres') }}";
								}else{
									hideLoading();
									alert(data.mensaje);
								}
						

						});
				}
    		}	
	    }


	function editTaller(idTaller){
		var urlGetNoticias = "{{path('get_info_taller')}}"; 
			showLoading("Cargando Información");
			$.post(urlGetNoticias, {idTaller:idTaller}, function(data, textStatus, xhr) {

				if(data.estatus == 1){

					var template = _.template(document.getElementById("editar_taller").textContent);
	    			var html_flujo = template(data);
	    			$("#space_edition").html(html_flujo);
					hideLoading();

				}else{

					hideLoading();
					alert(data.Info);

				}
				

			});
	}

	function consulta(){
		if($('#form_activas').val()){
			showLoading('Cargando Talleres y Apoyos');
		}
	}

	function formatISO(date){

		    var day =date.substr(0, 2);
		    var month=date.substr(3, 2);
		    var year=date.substr(6, 9);
		    
		    var Ndate = year+"-"+month+"-"+day;
		    return Ndate;
	} 

	function save(idTaller){
			var date1 = formatISO($('#edit_fechaInicio').val());
			var date2 = formatISO($('#edit_fechaFin').val());
			var titulo = $('#edit_titulo').val();
			var cuerpo = $('#edit_cuerpo').val();
			var usuario = $('#edit_Usuario').val();
			var tipo = $('#edit_tipo').val();

			if(date1 && date2 && titulo && cuerpo && usuario && tipo != ""){
				var urlUpdateTaller = "{{path('update_taller')}}"; 
				showLoading('Actualizando Taller/Apoyo');
				$.post(urlUpdateTaller, {id:idTaller, date1:date1, date2:date2, titulo:titulo, cuerpo:cuerpo, usuario:usuario, tipo:tipo 	}, function(data, textStatus, xhr) {
				
						if(data.estatus == 1){

							if($('#form_activas').val()){

								$('#form_Consultar').click();

							}else{

								document.location.href= "{{ path('admin_talleres') }}";

							}
							
						}else{
							hideLoading();
							alert(data.mensaje);
						}
				

				});
			}
		}
	</script>
{% endblock %}