{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Avatar{% endblock title %}

{% block stylesheets %}
	<link href="{{ asset('vendor/css/magic.css') }}" rel="stylesheet">
        <style>
            .ih-item.circle .img {
                width: 120px !important;
                height: 120px !important;
            }
            .ih-item.circle {
                width: auto !important;
            }

            .div_avatar {
                width: 12%;
                height: 21vh;
            }

            .ih-item.circle.effect5 .info .info-back {
               
                width: 120px;
                height: 120px;
                margin-left: -145%;
            }

            .ih-item.circle.effect5 .info h3 {
                
                font-size: 18px;
                margin: 0px 11px;
                padding: 35% 0px 0px;
                height: 110px;
                text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
            }

             @media screen and (max-width : 768px) { 
                .div_avatar {
                    width: 21%;
                    height: 21vh;
                }
             }
        </style>
{% endblock %}

{% block body -%}
        
        	<section class="content-header">
	          <h1>
	            Avatar
	            <small>Seleccione un avatar</small>
	          </h1>
	        </section>

        <section class="content">  

		    <div class="box box-primary">
                <div class="box-body">
                	<div class="row" style="margin-top: 2%;">
                        {%  for option in avatar %}
                            <div class="col-xs-3 div_avatar">
                                <div class="ih-item circle effect5"><a style="cursor:pointer;" onclick="UpdateAvatar({{ option.idAvatar }})">
                                    <div class="img"><img src="{{ asset('vendor/Avatars') }}/{{ option.URL }}" alt="img"></div>
                                    <div class="info">
                                      <div class="info-back">
                                        <h3>Click Actualiza</h3>
                                      </div>
                                    </div></a>
                                </div>
                            </div>    
                        {% endfor %}
                	</div>	
                </div>
             </div>
		    

		</section> 	
    

{% endblock %}

{% block javascripts %}
	<script>
    function UpdateAvatar(idAvatar){
        var urlUpdateAvatar = "{{path('update_avatar')}}"; 
                showLoading("Actualizando Avatar");
                $.post(urlUpdateAvatar, {idAvatar:idAvatar}, function(data, textStatus, xhr) {
                
                        if(data.estatus == 1){
                            document.location.href= "{{ path('perfil_usuario') }}";
                        }else{
                            hideLoading();
                            alert(data.mensaje);
                        }
                

                });
    }
	</script>
{% endblock %}