{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Lista Negra Direcciones {% endblock title %}

{% block stylesheets %}
	<style>
	</style>	
{% endblock %}

{% block body -%}
        
        	<section class="content-header">
	          <h1>
	            Direcciones
	            <small>Lista Negra</small>
	          </h1>
	        </section>
        <section class="content">  

		    <div class="box box-success">
                <div class="box-body">
                	<table class="table table-hover table-striped" id="tbl_direcciones">
				    	<thead>
				    		<th>Codigo Postal.</th>
				    		<th>Municipio.</th>
				    		<th>Colonia.</th>
				    	</thead>
				    	<tbody>
				    		{% for entity in Direcciones %}
				    			 	<tr>			                            
			                            <td>{{ entity.CP }}</td>
			                            <td>{{ entity.Municipio }}</td>
			                            <td>{{ entity.Colonia }}</td>			                            
		                          	</tr> 
							{% endfor %}
				    	</tbody>
					</table>
                </div>
             </div>
		    

		</section> 	
    

{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {

		    $('#tbl_direcciones').DataTable({
        					"language":DataTables.languaje.es
										 					
        	});

		    $( "select" ).addClass( "form-control" );
			$( "input[type='text']" ).addClass( "form-control" );
			$( "input[type='search']").addClass( "form-contro" );		        	
			$( "#tbl_direcciones_length" ).addClass( "form-inline" );
			$( "#tbl_direcciones_filter" ).addClass( "form-inline" );

			clearForm();

		} );
	</script>
{% endblock %}