{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Talleres & Apoyos {% endblock title %}

{% block stylesheets %}
	<style>  
		.space_taller{
			height: 170px;
			max-height: 170px;
		}
	</style>	
{% endblock %}

{% block body -%}
        
        	<section class="content-header">
	          <h1>
	            Talleres & Apoyos.
	          </h1>
	        </section>
        <section class="content">  
        	
		    <div class="box box-warning">
                <div class="box-body">
                	<div class="row">
                		 {%  for entity in Talleres %}
                            <div class="col-xs-6 col-sm-4 space_taller">
                            	<div clas="col-md-12" style="margin-bottom: 1%;">
                            		{%  for registro in entity.Registros %}
                            			{% if registro.usuario.uNumero == app.user.uNumero %}
                            				<label class="label label-danger">Ya estas Registrado.</label>
										{% endif %}
									{% endfor %}
                            	</div>
                                <div clas="col-md-12">
	                                <div class="info-box">
						                {% if entity.Tipo == 1 %}
										    <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
										{% elseif entity.Tipo == 0 %}
											<span class="info-box-icon bg-green"><i class="fa fa-briefcase"></i></span>
										{% endif %}

						                <div class="info-box-content">
						                  <span class="info-box-text">{{ entity.Nombre}}</span>
						                  <span class="info-box-number">Inscritos: {{ entity.Registros|length }}</span>
						                  <span class="info-box-decano">Impartido por:<b> {{ entity.usuario.uNombre }} {{ entity.usuario.uApPaterno }} {{ entity.usuario.uApMaterno }}</b></span>
						                </div><!-- /.info-box-content -->
						            </div>
					            </div>
					            <div clas="col-md-6">
					            	<button class="btn btn-primary" style="width: 49%;" onclick="Inscribir({{ entity.idTaller}})">Registrarme !!</button>
					            	<button class="btn btn-info" style="width: 49%;"  onclick="LeerDtl({{ entity.idTaller}})"> Leer más</button>
								</div>   
                            </div>
                        {% else %}        
                        	<div class="col-md-12" style="text-align: -moz-center;">
                        		Aún no hay Talleres o Apoyos.
                        	</div>
                        {% endfor %}
                	</div>
                </div>
             </div>
		   
             <!-- POP UP INFORMACION DETALLADA DE LA NOTICIA-->
        	<div class="modal fade bs-example-modal-lg" id="pp_dtl_taller" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Información</h4>
                  </div>
                  <div class="modal-body" id="body_detalle_taller">
                    	
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>

		</section> 	
    

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('vendor/js/underscore.js') }}"></script>
<script type="text/template" id='detalle_taller'>
  	<div class="row">
  		<div class="col-xs-12">  			
  				<div class="box box-primary">			
  				
	                <div class="box-header">
	                  <h3 class="box-title">
	                  	Talleres & Apoyos
	                  </h3>
	                </div>
	                <div class="row">
						<div class="col-xs-12" style="text-align: center; font-size: 27px; font-weight: 600;word-wrap: break-word;">
							<%= Info.Nombre %>	
						</div>
						<div class="col-xs-12" style="padding: 5px 29px; font-size: 15px; font-weight: 600; text-align: left;word-wrap: break-word;">
							<%= Info.descripcion %>
						</div>
						<div class="col-xs-12" style="padding: 5px 26px; text-align: center; font-weight: 600;word-wrap: break-word;">
							<label>Impartido por: </label> <%= Info.usuario.fullname %>
						</div>
	                </div>
              	</div>
  		</div>	
  	</div>	
</script>
<script>
	function LeerDtl(idTaller){
		var urlGetNoticias = "{{path('get_info_taller')}}"; 
			showLoading("Cargando Información");
			$.post(urlGetNoticias, {idTaller:idTaller}, function(data, textStatus, xhr) {

				if(data.estatus == 1){
					var template = _.template(document.getElementById("detalle_taller").textContent);
	    			var html_flujo = template(data);
	    			$("#body_detalle_taller").html(html_flujo);
					hideLoading();
					$('#pp_dtl_taller').modal({
				      backdrop: 'static',
				      keyboard: false
				    });
				}else{
					hideLoading();
					alert(data.Info);
				}
				

			});
	}

	function Inscribir(idTaller){
		confirmar=confirm("¿Decea registrarse ?"); 
    		if(confirmar){
    			var urlGetNoticias = "{{path('registro_taller')}}"; 
				showLoading("Guardando Información");
				$.post(urlGetNoticias, {idTaller:idTaller}, function(data, textStatus, xhr) {
				
						if(data.estatus == 1){
							document.location.href= "{{ path('show_talleres_apoyos') }}";
						}else{
							hideLoading();
							alert(data.mensaje);
						}
				

				});
    		}
	}
</script>
{% endblock %}