<script type="text/template" id='productoTemplate'>
		<td><%= materialPrecio %> <%= producto.descripcion %></td>
		<td><%= accounting.formatMoney(precio) %></td>
		<td>
			<button class="btn btn-default btn-xs" onclick="return false">Agregar</button>
		</td>
</script>

<script type="text/template" id='productoCompraTemplate'>
	<td><%= cantidad %></td>
	<td><%= item.materialPrecio %> <%= item.producto.descripcion %></td>
	<td><%= accounting.formatMoney(item.precio) %></td>
	<td><%= accounting.formatMoney(item.precio * cantidad) %></td>
	<td>
		<button class="btn btn-default btn-xs agregar" onclick="return false">Agregar</button>
		<button class="btn btn-default btn-xs quitar" onclick="return false">Quitar</button>
	</td>
</script>

<script type="text/template" id='descuentoTemplate'>
	<td>Descuento (<%= tipoPago.descripcion %>) - <%= clave %> (<%= accounting.formatMoney(desde) %> - <%= accounting.formatMoney(hasta) %>)</td>
	<td><%= accounting.formatMoney(importe) %></td>
	<td>
		<button class="btn btn-default btn-xs" onclick="return false">Agregar</button>
	</td>
</script>

<script type="text/template" id='descuentoCompraTemplate'>
	<td></td>
	<td>Descuento - <%= clave %> (<%= accounting.formatMoney(desde) %> - <%= accounting.formatMoney(hasta) %>)</td>
	<td></td>
	<td><%= accounting.formatMoney(importe) %></td>
	<td>
		<button class="btn btn-default btn-xs" onclick="return false">Quitar</button>
	</td>
</script>

<script type="text/javascript">
	var name = "{{ name }}";
	var titulos = {{ titulos|json_encode()|raw }};
	var productosCompraJSON = {{ productosCompra|json_encode()|raw }};
</script>