{% extends '::base.html.twig' %} 
{% block title %}MDR - ATC - Consultas{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdratc/css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdratc/css/icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdratc/css/select2.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrcobranza/css/bootstrap-editable.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/bootstrap-theme.min.css') }}"> 
  <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
  <link href="{{ asset('bundles/mdrcobranza/images/logoMDR.png') }}"  rel="icon" type="image/x-icon" />

{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
  <div class="container" style="width:97%; margin-top:15px;">
    

      <div id="at_consultas_atc">
        <div id="atc_cp">
          <form id="form_consultas">
            <div class="row" id="form1">       
                <div class="col-md-4">
                  <label class="required">Nombre:</label></br>
                  <input type="text" id="txt_ncliente" placeholder="Nombre de Cliente" class="form-control">
                </div>
                <div class="col-md-4">
                  <label class="required">Apellido Paterno:</label></br>
                  <input type="text" id="txt_appcliente" placeholder="Apellido Paterno" class="form-control">
                </div>
                <div class="col-md-4">
                  <label>Apellido Materno:</label></br>
                    <input type="text" id="txt_apmcliente" placeholder="Apellido Materno" class="form-control">
                </div> 
              <div class="col-md-3">
                <label class="required">Pedido:</label></br><input type="text" id="txt_pedido" placeholder="Número de pedido" class="form-control">
              </div>
              <div class="col-md-3">
                <label class="required">Número de Tarjeta:</label></br><input type="text" id="txt_tarjeta" maxlength="16" placeholder="Número de tarjeta" class="form-control">
              </div>
              <div class="col-md-3">
                <label>Tipo de compra:</label></br><input id="txt_tipocompra">
              </div>            
              <div class="col-md-3">
                <label class="required">Número de Guía:</label></br><input class="form-control" id="txt_guia" maxlength="50" placeholder="Número de guía">
              </div>              
            </div>             
            <div class="col-md-2" style="padding-top: 15px;">
              <label class="required">Fecha de pedido:</label>             
            </div>
            <div class="col-md-3" style="padding-top: 10px;">
              <input type="date" onchange="vd_date()" id="txt_fecha1" placeholder="De:" class="form-control" readonly>
            </div>
            <div class="col-md-3" style="padding-top: 10px;">
              <input type="date" onchange="vd_date()" id="txt_fecha2" placeholder="A:" class="form-control" readonly>
            </div>
            <div class="col-md-2" style="padding-top: 10px;">
              <button type="button" class="btn btn-danger" id="btn_clean_date" onclick="clean_date();" style="float: left;"><span class="glyphicon glyphicon-remove"></span></button>
            </div>

            <div class="row" id="form3">
              <div class="col-md-12"><button type="button" class="btn btn-warning" id="btn_consulta" onclick="consulta_pedido();">Consultar</button></div>
            </div>
          </form>

          <div id="div_tbl_atc" class="table-responsive">  
            <table id="tbl_consultas_atc" class="table table-bordered" >
              <thead class='head_table'>
                <tr>
                  <td style="width: 50px !important;">Pedido</td>
                  <td>Nombre Cliente</td>
                  <td style="width: 89px !important;">Fecha Pedido</td>
                  <td style="width: 68px !important;">Tipo Pago</td>
                  <td style="width: 68px !important;">Número de Tarjeta</td>
                  <td style="width: 240px !important;">Productos</td>
                  <td style="width: 69px !important;">Gastos Envio</td>
                  <td style="width: 60px !important;">Subtotal</td>
                  <td>Total</td>
                  <td>Factura</td>
                  <td></td>                   
                </tr>
              </thead>
              <tbody id="body_consultas_atc" style="text-align: center;">
                
              </tbody>
            </table>
          </div>
        
      </div>

<!--POPUP OPERACION -->
<div class="modal fade bs-example-modal-lg modal_base" id="popup_atc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" style="width: 85%;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title_atc"></h3>
      </div>
      <div class="modal-body" id="body_atc">

      </div>
      <div class="modal-footer" id="footer_atc">
            
      </div>
    </div>
  </div>
</div>

  </div>

<!--POPUP VALIDACION SUPERVISOR-->
<div class="modal fade bs-example-modal-sm modal_base" id="pf_supervisor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Ingrese usuario y contraseña de <b>SUPERVISOR</b></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="icon-user"></span></div>
            <input class="form-control" type="text" placeholder="Usuario" id="user_sup">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="icon-key"></span></div>
            <input class="form-control" type="password" placeholder="Contraseña" id="pass_sup">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="super_loading" style="text-align: center;"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_cancel_sup" onclick="canceledit();">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btn_aceptar_sup">Aceptar</button>
      </div>
    </div>
  </div>
</div>


  <script type="text/template" id='flujoPedidoTemplate'>
  <table class="table table-bordered table-condensed" id="tbl_flujo_SAP" style="font-size: 11px;">
    <thead>
      <tr>
        <th>Pedido SAP</th>
        <th>Documento</th>
        <th>Tipo</th>
        <th style="width: 100px;">Fecha Documento</th>
        <th style="width: 100px;">Fecha Entrega</th>
        <th>Transporte</th>
        <th style="width: 100px;">Fecha Salida</th>
        <th style="width: 100px;">Hora</th>
        <th>Mensajeria</th>
        <th>Remesa</th>
        <th>Guia</th>
        <th>Motivo</th>
      </tr>
    </thead>
    <tbody>
    <% 
      var pedidoSAPAnterior = '';
      var separa = 0;
    _.each(flujo, function(item, key){ 
      //console.log(pedidoSAPAnterior + ' - ' + item.PedidoSap)
      if(pedidoSAPAnterior != item.PedidoSap)
      {
        pedidoSAPAnterior = item.PedidoSap;
        if(separa == 1)
        {
          separa = 0;
        }
        else
        {
          separa = 1;
        }
      }
      %>
          <tr class="separaPedido<%= separa %>">
            <td><%= item.PedidoSap %></td>
            <td><%= item.DocSiguiente %></td>
            <td><%= item.TipoDocSig %></td>
            <td><%= item.FechaDocSig %></td>
            <td><%= item.FechaEntrega %></td>
            <td><%= item.NumTransporte %></td>
            <td><%= item.FechaSalida %></td>
            <td><%= item.HoraSalida %></td>
            <td><%= item.Mensajeria %></td>
            <td><%= item.Remesa %></td>
            <td><%= item.Guia %></td>
            <td><%= item.DescMotivo %></td>
          </tr>
    <% }); %>
    </tbody>
  </table>
</script>



{% endblock %}

{% block javascripts %}

  <script type="text/javascript" src="{{ asset('vendor/js/underscore.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mdratc/js/select2.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mdrcobranza/js/bootstrap-editable.min.js') }}"></script>
 
    <script>
    
    var table;
    var urls = urls || {};
    urls.sap = urls.sap || {}
    urls.sap.flujoPedido = "{{ path('flujo_pedido_SAP') }}";
    //Loading para consulta de pedido
    var img = new Image();
    img.src = "{{ asset('vendor/img/bubbles_load.gif') }}";
    //Imagen SAP
    var img_SAP = new Image();
    img_SAP.src = "{{ asset('vendor/img/sap-logo.png') }}";
    //Imagen MDR
    var img_MDR = new Image();
    img_MDR.src = "{{ asset('bundles/mdrcobranza/images/logoMDR.png') }}";
    //Loading para consulta de pedido
    var img_loding = new Image();
    img_loding.src = "{{ asset('vendor/img/lines_load.gif') }}";
    
    //Logos de las mensajeria
    var logo_skymex = new Image();
    logo_skymex.src = "{{ asset('vendor/img/skymex_logo.png') }}";

    var logo_estafeta = new Image();
    logo_estafeta.src = "{{ asset('vendor/img/estafeta_logo.png') }}";

    var logo_fedex = new Image();
    logo_fedex.src = "{{ asset('vendor/img/fedex_logo.png') }}";

    var img_pdf = new Image();
    img_pdf.src = "{{ asset('vendor/img/pdf.png') }}";

     
    $( "#txt_fecha1" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    $( "#txt_fecha2" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
      maxDate: "+0D"
    });

    </script>
  <script type="text/javascript" src="{{ asset('bundles/mdratc/js/tools_atc.js') }}"></script>
{% endblock %}



