{% extends '::base.html.twig' %} 

{% block title %}Investigación de Pedidos {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdratc/css/inv/icons.css') }}">
    <style>
          /** TABLE ZEBRA TICKETS **/
          #inv_tickets >thead{
            text-align: center;
          }

          #inv_tickets >tbody> tr:nth-child(even) {
            background: #3e4359;
            color: #FFFFFF;
          }
          #inv_tickets >tbody> tr:nth-child(odd) {
            background: #1f6fc6;
            color: #FFFFFF;
          }


    </style>
{% endblock %}
{% block body %}
  <div class="container" style="width:97%; margin-top:15px;">

      <div class="at_crcobranza">
        <div id="bt_opmenu">
                  {{form(form_inv)}}
        </div>
        <div class="table-responsive">  
          <table id='tbl_operaciones' class="table table-bordered">
            <thead class='head_table'>
              <tr>
                <td>Pedido</td>
                <td>FAlta</td>
                <td>Tipo Pago</td>
                <td>Total Pago</td>
                <td><span class="icon-cogs"></span></td>
              </tr>
            </thead>
            <tbody id="body_tbl_operaciones" style="background: white;">
                {% for entity in pedidos_inv %}
                    <tr>
                      <td>{{ entity.idPedido }}</td>
                      <td>{{ entity.fecha.date|date("d/m/Y H:i:s") }}</td>
                      <td>{{ entity.Pago.descripcion }}</td>
                      <td>$ {{ entity.totalPago }}</td>
                      <td><button type="button" class="btn btn-info" onclick="operaciones({{ entity.idPedido }},'Cargando Datos')"><span class="glyphicon glyphicon-tag"></span></button></td>
                    </tr> 
                {% endfor %}
            </tbody>
          </table>  
        </div>
      </div>


<!--POPUP INVESTIGACION -->
<div class="modal fade bs-example-modal-lg modal_base" id="popup_inv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" style="width: 85%;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="title_inv"></h3>
      </div>
      <div class="modal-body" id="body_inv">

      </div>
      <div class="modal-footer" id="footer_inv">
      </div>
    </div>
  </div>
</div>  

<!--POPUP CANCELACIÓN -->
<div class="modal fade modal_base" id="popup_cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="body_cancel">

      </div>
    </div>
  </div>
</div>      



  </div>
{% endblock %}
{% block javascripts %}
    
    <script type="text/template" id='previewBodyTemplate'> 
  <% 
  $('#title_inv').html('Pedido: '+detalles_pedidoinv[0].idPedido+'<label style="float: right;">Detalle del Pedido</label>'); 
    var EstatusTicket="<option value='0'>-------------------------</option>";
      for(var x=0;x<=AEstatusTickets.length-1;x++){
        EstatusTicket = EstatusTicket+"<option value='"+AEstatusTickets[x].id+"'>"+AEstatusTickets[x].text+"</option>";
        //console.log(EstatusTicket);
      }
  %>
<div class="row">

  <div class="col-xs-7"> 
      <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Datos del Cliente</h3>
          </div>
          <div class="panel-body" style="padding: 13px !important;">
            <div><b>Estatus del Pedido: </b><span class="cliente"><%= detalles_pedidoinv[0].estatus.descripcion %></span></div>
            <div><b>Cliente: </b><span class="cliente"><%= detalles_pedidoinv[0].cliente.toString %></span></div>
            <div><b>Dirección: </b><%= detalles_pedidoinv[0].direccion.toString %></div>
            <div><b>Referencia: </b><%= detalles_pedidoinv[0].direccion.indicaciones %></div>
            <div><b>Telefonos Casa: </b><%= detalles_pedidoinv[0].direccion.telCasa %>&nbsp;&nbsp;&nbsp;<b>Oficina: </b><%= detalles_pedidoinv[0].direccion.telOficina %>&nbsp;&nbsp;&nbsp;<b>Celular: </b><%= detalles_pedidoinv[0].direccion.telCel %></div>
          </div>

      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Detalle de compra</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Cantidad</th>
                  <th>Descripción</th>
                  <th>Promocion</th>
                  <th>PU</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% _.each(detalles_pedidoinv[0].productos ,function(item, key){ %>
                    <tr>
                      <td><%= item.cantidad %></td>
                      <td><%= item.productoPrecio.producto.descripcion %></td>
                      <td><%= item.productoPrecio.materialPrecio %></td>
                      <td>$ <%= item.productoPrecio.precio %></td>
                      <td>$ <%= parseFloat(item.productoPrecio.precio * item.cantidad) %></td>
                    </tr>
              <% }); %>
                <tr>    
                  <td colspan="3" rowspan="4"></td>
                </tr>
                <tr>
                  <td>Envío</td>
                  <td>$ <%= parseFloat(detalles_pedidoinv[0].gastosEnvio.precio) %></td>
                </tr>
                <tr>
                  <td>SubTotal</td>
                  <td><b>$ <%= parseFloat(detalles_pedidoinv[0].subTotal) %></b></td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td><b>$ <%= parseFloat(detalles_pedidoinv[0].totalPago) %></b></td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-xs-4"><b>Tipo de pago: </b><%= detalles_pedidoinv[0].pago.descripcion %></div>
            </div>
            <% if(detalles_pedidoinv[0].pago.idTipoPago == 1){ %>
              <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-9"><b>Titular: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].titular %></div>
                    <div class="col-xs-3"><b>Es Titular: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].esTitular == 1 ? "Sí" : "No" %></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6"><b>No. Tarjeta: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].numeroTarjeta %></div>
                    <div class="col-xs-3"><b>Vigencia: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].vigencia.date.substr(0,7) %></div>
                    <div class="col-xs-3"><b>Código: </b>XXXX</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4"><b>Tipo: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].tipoTarjeta.descripcion %></div>
                    <div class="col-xs-4"><b>Banco: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].banco.nombre %></div>
                    <div class="col-xs-4"><b>Promoción: </b><%= detalles_pedidoinv[0].pagosTarjeta[0].promocion.descripcion %></div>
                  </div>
                </div>
              </div>
            <% } %>
        </div>
      </div>
  </div>

  <div class="col-xs-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Nuevo Ticket</h3>
        </div>   
          <div class="panel-body">
              <div class="row">
                <div class="col-md-12" style="padding: 0px !important;">
                    <div class="col-md-4" style="margin-bottom: 10px;font-weight: 700;">*Estatus del Ticket:</div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                      <select id="testatus" class="form-control" onchange="cierrePedido()"><%= EstatusTicket %></select>
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-12" style="margin-top: 15px;font-weight: 700;">*Comentarios:</div>
                  <div class="col-md-12"><textarea id="comentarios" maxlength="320" style="resize:none;height: 200px;" class="form-control"></textarea></div>
                </div>
                <div class="col-md-12" style="margin-top: 15px; text-align: center; display: inline-flex;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>&nbsp;&nbsp;&nbsp;<button type="button" id="savecoments" class="btn btn-primary" onclick="saveComentarios('<%=detalles_pedidoinv[0].idPedido%>')">Guardar</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" id="btn_liberar" style="display:none;" onclick="CierreInv('<%=detalles_pedidoinv[0].idPedido%>','LP')">Liberar Pedido</button>&nbsp;&nbsp;&nbsp;<button type="button" id="btn_cancelar" class="btn btn-danger" style="display:none;" onclick="ShowCancel('<%=detalles_pedidoinv[0].idPedido%>')">Cancelar Pedido</button>
                </div>
              </div>
          </div>        
      </div>      
    </div>

    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Historial de Tickets</h3>
        </div>   
          <div class="panel-body" style="max-height: 250px;overflow-y: auto;">
              <table class="table table-bordered" id="inv_tickets">
                <thead>
                  <th>idTicket</th>
                  <th>Fecha</th>
                  <th>Estatus</th>
                  <th>Motivo del ticket</th>
                  <th>Usuario</th>
                </thead>
                <tbody>
                  <% if(detalles_pedidoinv[1].length > 0){ %>
                    <% _.each(detalles_pedidoinv[1] ,function(item, key){ %>

                        <tr>
                          <td><%= item.idTicket %></td>
                          <td><%= item.FechaGregorian %></td>
                          <td><%= item.EstatusTicket.Descripcion %></td>
                          <td><%= item.Comentarios %></td>
                          <td><%= item.Usuario.fullname %></td>
                        </tr>

                    <% }); %>

                  <% }else{ %>  

                        <tr>
                          <td colspan="5" style="text-align:center;">'SIN TICKETS'</td>
                        </tr>

                  <% } %>                  
                </tbody>
              </table>
          </div>        
      </div>      
    </div>        
 
</div>

</script>

<script type="text/template" id='CancelacionPedido'> 
        <%
        var CancelacionesPedido="<option value='0'>-------------------------</option>";
          for(var x=0;x<=ATCancelacion.length-1;x++){
            CancelacionesPedido = CancelacionesPedido+"<option value='"+ATCancelacion[x].id+"'>"+ATCancelacion[x].text+"</option>";
            //console.log(CancelacionesPedido);
          }
      %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Cancelación de Pedido</h3>
        </div>   
          <div class="panel-body">
              <div class="row">
                <div class="col-md-12" style="padding: 0px !important;">
                    <div class="col-md-4" style="margin-bottom: 10px;font-weight: 700;">*Motivo de Cancelacion:</div>
                    <div class="col-md-8" style="margin-bottom: 10px;">
                      <select id="sls_cancelacion" class="form-control"><%= CancelacionesPedido %></select>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 15px; text-align: center; display: inline-flex;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>&nbsp;&nbsp;&nbsp;<button type="button" id="btn_cancelar" class="btn btn-danger" onclick="CierreInv('<%= cancelacion_pedidoinv[0] %>','DL')">Cancelar Pedido</button>
                </div>
              </div>
          </div>        
      </div>      

</script>  






  <script type="text/javascript" src="{{ asset('bundles/mdratc/js/tools_inv.js') }}"></script>

    <script>

    $( "#form_fechaInicio" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    $( "#form_fechaFin" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    </script>
  
{% endblock %}