  <script type="text/template" id='flujoPedidoTemplate'>
  <table class="table table-bordered table-condensed" style="font-size: 11px;">
    <thead>
      <tr>
        <th>SAP</th>
        <th>Documento</th>
        <th>Tipo</th>
        <th>Fecha Documento</th>
        <th>Fecha Entrega</th>
        <th>Transporte</th>
        <th>Fecha Salida</th>
        <th>Hora Salida</th>
        <th>Mensajeria</th>
        <th>Remesa</th>
        <th>Guia</th>
        <th>Motivo</th>
      </tr>
    </thead>
    <tbody>
    <% 
      var pedidoSAPAnterior = '';
      var separa = 0;
    _.each(flujo, function(item, key){ 
      //console.log(pedidoSAPAnterior + ' - ' + item.PedidoSap)
      if(pedidoSAPAnterior != item.PedidoSap)
      {
        pedidoSAPAnterior = item.PedidoSap;
        if(separa == 1)
        {
          separa = 0;
        }
        else
        {
          separa = 1;
        }
      }
      %>
          <tr class="separaPedido<%= separa %>">
            <td><%= item.PedidoSap %></td>
            <td><%= item.DocSiguiente %></td>
            <td><%= item.TipoDocSig %></td>
            <td><%= item.FechaDocSig %></td>
            <td><%= item.FechaEntrega %></td>
            <td><%= item.NumTransporte %></td>
            <td><%= item.FechaSalida %></td>
            <td><%= item.HoraSalida %></td>
            <td><%= item.Mensajeria %></td>
            <td><%= item.Remesa %></td>
            <td><%= item.Guia %></td>
            <td><%= item.DescMotivo %></td>
          </tr>
    <% }); %>
    </tbody>
  </table>
</script>
