{% extends '::base.html.twig' %}

{% block title %}Direcciones Usuarios{% endblock title %}
{% form_theme edit_form '::Forms/bootstrapForm.html.twig' %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Editar Direccion de Usuario</h1>
		
		{{ form(delete_form) }}

        <a class="btn btn-primary" href="{{ path('direccionesusuarios') }}">
            Regresar al Listado
        </a>

 <br /> <br />
    {{ form(edit_form) }}

</div>
{% endblock %}
