{% extends '::base.html.twig' %}

{% block title %}Direcciones Usuarios{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Detalle de Dirección</h1>

        <a class="btn btn-primary" href="{{ path('direccionesusuarios', {'usuario': entity.Usuario.uNumero }) }}">
            Regresar al Listado
        </a>

        {#<a class="btn btn-primary" href="{{ path('direccionesusuarios_edit',  {'id': entity.idDireccion, 'usuario': entity.Usuario }) }}">
            Editar
        </a>#}

    <br /><br />
    <table class="table table-bordered table-striped table-condensed">
        <tbody>
            <tr>
                <th>Pais</th>
                <td>{{ entity.pais }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Municipio</th>
                <td>{{ entity.municipio }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entity.cp }}</td>
            </tr>
            <tr>
                <th>Colonia</th>
                <td>{{ entity.colonia }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ entity.calle }}</td>
            </tr>
            <tr>
                <th>Entrecalles</th>
                <td>{{ entity.entreCalles }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ entity.referencia }}</td>
            </tr>
            <tr>
                <th>Noext</th>
                <td>{{ entity.noExt }}</td>
            </tr>
            <tr>
                <th>Noint</th>
                <td>{{ entity.noInt }}</td>
            </tr>
            <tr>
                <th>Telcasa</th>
                <td>{{ entity.telcasa }}</td>
            </tr>
            <tr>
                <th>Teloficina</th>
                <td>{{ entity.telOficina }}</td>
            </tr>
            <tr>
                <th>Telcel</th>
                <td>{{ entity.telCel }}</td>
            </tr>
        </tbody>
    </table>
    {#{{ form(delete_form) }}#}
</div>
{% endblock %}
