{% extends '::base.html.twig' %} 

{% block title %}Reporte de Filtro{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrreportes/css/reportes.css') }}">
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">

      <div class="at_reportes">
			 <div id="rep_opmenu">
      				{{form(form_rep)}}
      		</div>
      	<div class="table-responsive">	
      		<table id='tbl_reportes' class="table table-bordered">
				<thead class='head_table'>
					<tr>
						<th>Falta</th>
						<th>Halta</th>
						<th>DID</th>
						<th>Ordvta</th>
						<th>Orivta</th>
						<th>Tpago</th>
						<th>Estatus</th>
						<th>Estado</th>
						<th>Municipio</th>
						<th>Cant</th>
						<th>Producto</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Usuario</th>
					</tr>
				</thead>
				<tbody id="body_tbl_reportes" style="background: white;">
						{% for entity in filtro %}					
							{% for productos in entity.productos %}
							<tr>
								<td>{{ entity.fecha.date|date("m/d/Y") }}</td>
								<td>{{ entity.fecha.date|date("H:i:s") }}</td>
								<td>{{ entity.dnis }}</td>
								<td>{{ entity.idPedido }}</td>
								<td>{{  productos.productoPrecio.oficinaVenta.descripcion }}</td>
								<td>{{ entity.pago.descripcion }}</td>
								<td>{{ entity.estatus.descripcion }}</td>
								<td>{{ entity.direccion.estado }}</td>
								<td>{{ entity.direccion.municipio }}</td>
								<td>{{  productos.cantidad }}</td>
								<td>{{  productos.productoPrecio.materialPrecio }}</td>
								<td>{{  productos.productoPrecio.producto.descripcion }}</td>
								<td>$ {{  productos.productoPrecio.precio }}</td>
								<td>{{ entity.usuario.uNombre }} {{ entity.usuario.uApPaterno }} {{ entity.usuario.uApMaterno }}</td>

							</tr>	
							{% endfor %}
						{% endfor %}						
					
				</tbody>
			</table>	
		</div>					
      </div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
	
//ESTILO DE LA TABLA Y FUNCION DROPDOWN MENU RESPONSIVE
$(document).ready(function() {
						var table  = $('#tbl_reportes').DataTable({
        					"language":DataTables.languaje.es 					
        				});	
						


						$( "select" ).addClass( "form-control" );
			        	$( "input[type='text']" ).addClass( "form-control" );
			        	$( "input[type='search']").addClass( "form-control" );			        	
			        	$( "#tbl_reportes_length" ).addClass( "form-inline" );
			        	$( "#tbl_reportes_filter" ).addClass( "form-inline" );      


    	});


		function loadPedidos(){
			showLoading('Cargando Pedidos ...</h3>');
		}


	$( "#form_fechaInicio" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });




    //validar fechas	
	function vd_date(){
		
		var date1 = createdate($('#form_fechaInicio').val());
		var date2 = createdate($('#form_fechaFin').val());

		if (date1 <= date2) {
			$('#form_Consultar').attr("disabled", false);			
		}else if (date1 > date2){
			alert("La fecha de fin no puede ser una fecha anterior a la fecha de Inicio");
			$('#form_Consultar').attr("disabled", true);	
		}

	}
	</script>
{% endblock %}