{% extends '::base.html.twig' %} 

{% block title %}Reporte FLASH{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrreportes/css/reportes.css') }}">
	<style>
	#form_fechaFin{
		margin-left: 26px;
	}

	</style>
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">

      <div class="at_reportes">
			 <div id="rep_opmenu">
      				{{form(form_rep)}}
      		</div>
      	<div class="table-responsive">	
      		<table id='tbl_reportes' class="table table-bordered">
				<thead class='head_table'>
					<tr>
						<th>Número Telefónico</th>
						<th>Fecha</th>
						<th>Cliente</th>
						<th>DNIS</th>
						<th>Agente</th>
						<th>Interes</th>
						<th>Observaciones</th>
					</tr>
				</thead>
				<tbody id="body_tbl_reportes" style="background: white;">
						{% for entity in llamadasflash %}					
							<tr>
								<td>{{ entity.Telefono.numero }}</td>
								<td>{{ entity.Fecha.date|date("d/m/Y H:i:s") }}</td>
								<td>{{ entity.Cliente.nombre }}  {{ entity.Cliente.apellidoPaterno }}  {{ entity.Cliente.apellidoMaterno }}</td>
								<td>{{ entity.Dnis }}</td>
								<td>{{ entity.Usuario.uNombre }}  {{ entity.Usuario.uApPaterno }}  {{ entity.Usuario.uApMaterno }}</td>
								<td>{{ entity.Comentarios }}</td>
								{% if entity.Telefono.esListaNegra == true %}
								    <td>EN LISTA NEGRA</td>
								{% else %}
								    <td></td>
								{% endif %}
							</tr>	
						{% endfor %}					
				</tbody>
			</table>	
		</div>					
      </div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
	
//ESTILO DE LA TABLA Y FUNCION DROPDOWN MENU RESPONSIVE
$(document).ready(function() {
						var table  = $('#tbl_reportes').DataTable({
        					"language":DataTables.languaje.es 					
        				});	
						


						$( "select" ).addClass( "form-control" );
			        	$( "input[type='text']" ).addClass( "form-control" );
			        	$( "input[type='search']").addClass( "form-control" );			        	
			        	$( "#tbl_reportes_length" ).addClass( "form-inline" );
			        	$( "#tbl_reportes_filter" ).addClass( "form-inline" );      


    	});


		function loadPedidos(){
			var fechainicio = $('#form_fechaInicio').val();
			var fechafin = $('#form_fechaFin').val();
			var time1 = $('#form_time1').val();
			var time2 = $('#form_time2').val();

 			if(fechainicio && fechafin && time1 && time2){
				showLoading('Cargando Pedidos ...</h3>');
			}	
		}


	$( "#form_fechaInicio" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

	$( "#form_fechaFin" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });



    //validar fechas	
	function vd_date(){
		
		var date1 = createdate($('#form_fechaInicio').val());
		var date2 = createdate($('#form_fechaFin').val());

		if (date1 <= date2) {
			$('#form_Consultar').attr("disabled", false);			
		}else if (date1 > date2){
			alert("La fecha de fin no puede ser una fecha anterior a la fecha de Inicio");
			$('#form_Consultar').attr("disabled", true);	
		}

	}
	</script>
{% endblock %}