{% extends '::base.html.twig' %} 

{% block title %}Reporte de Usuarios{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrreportes/css/reportes.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">

      <div class="at_reportes">
			 <div id="rep_opmenu">
      				{{form(form_rep)}}
      		</div>
      	<div class="table-responsive">	
      		<table id='tbl_reportes' class="table table-bordered">
				<thead class='head_table'>
					<tr>
						<th style="width: 120px;">Id</th>
						<th style="width: 220px;">Nombre</th>
						<th style="width: 220px;">Apaterno</th>
						<th style="width: 220px;">Amaterno</th>
						<th style="width: 125px;">Login</th>
						<th style="width: 220px;">Perfil</th>
						<th style="width: 120px;">Activo</th>
					</tr>
				</thead>
				<tbody id="body_tbl_reportes" style="background: white;">
					{% for entity in usuarios %}
						<tr>
							<td style="width: 120px;">{{ entity.uNumero }}</td>
							<td style="width: 220px;">{{ entity.uNombre }}</td>
							<td style="width: 220px;">{{ entity.uApPaterno }}</td>
							<td style="width: 220px;">{{ entity.uApMaterno }}</td>
							<td style="width: 120px;">{{ entity.uClave }}</td>
							<td style="width: 220px;">{{ entity.tipoUsuario.valor }}</td>
								{% if entity.activo == 1 %}
								    <td style="width: 120px;">Activo</td>
								{% else %}
								    <td style="width: 120px;">Inactivo</td>
								{% endif %}
					{% endfor %}
						</tr>
				</tbody>
			</table>	
		</div>					
      </div>
	</div>
{% endblock %}
{% block javascripts %}

	<script>
//ESTILO DE LA TABLA Y FUNCION DROPDOWN MENU RESPONSIVE
$(document).ready(function() {
						var table  = $('#tbl_reportes').DataTable({
        					"language":DataTables.languaje.es 					
        				});	
						


						$( "select" ).addClass( "form-control" );
			        	$( "input[type='text']" ).addClass( "form-control" );
			        	$( "input[type='search']").addClass( "form-control" );			        	
			        	$( "#tbl_reportes_length" ).addClass( "form-inline" );
			        	$( "#tbl_reportes_filter" ).addClass( "form-inline" );      


    	});

		function loadPedidos(){
			showLoading('Cargando Pedidos ...</h3>');
		}

	</script>
{% endblock %}