{% extends '::base.html.twig' %}

{% block title %}Tipo de Llamada{% endblock title %}
{% form_theme form '::Forms/bootstrapForm.html.twig' %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Creación de Tipo de Llamada</h1>

    {{ form(form) }}
     <br />
        <a type="button" class="btn btn-primary" href="{{ path('tipollamada') }}">
            Regresar al Listado</a>
</div>
{% endblock %}
