{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Administrador Noticias {% endblock title %}

{% block stylesheets %}
	<style>
		#form_Consultar {
		    margin-top: 25px;
		}

		#form_Guardar,#form_Cancelar{
			float: left;
			margin-top: 15px;
			margin-right: 10px;
		}

		#form_Vista{
			margin-top: 15px;
		}

		#form_cuerpo {
		    height: 175px;
		    resize: none;
		}

		#form_Eliminar {
		    margin-top: 25px;
		}
	</style>	
{% endblock %}

{% block body -%}
        
        	<section class="content-header">
	          <h1>
	            Noticias
	            <small>Administrador</small>
	          </h1>
	        </section>
        <section class="content">  

	        <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Registro de nueva Noticia.</h3>
            	</div>
      
                <div class="box-body" style="padding: 2%;">
		        	<div class="row">
		        		{{ form_start(form_consulta) }}
		                  {% for row in [		                    
		                    [ ['activas'],	['Consultar']	]
		                    ] 
		                  %}
		                    <div class="row">   
		                    {% for field in row %}
		                      <div class="col-md-{{ field[1] is defined ? field[1] * 4 :  4 }}">
		                        {% if (attribute(form_consulta, field[0]) is defined) %}
		                          {{ form_row(attribute(form_consulta, field[0])) }}
		                        {% endif %}
		                      </div>
		                    {% endfor %}
		                    </div>
		                  {% endfor %}
		                  {{ form_rest(form_consulta) }}
		                  {{ form_end(form_consulta) }}
		        	</div>
		        </div>
		    </div>

		    <div class="box box-success">
                <div class="box-body">
                	<table class="table table-hover table-striped" id="tbl_noticias">
				    	<thead>
				    		<th>Titulo.</th>
				    		<th>Fecha Inicio.</th>
				    		<th>Fecha Fin.</th>
				    		<th>Relevancia.</th>
				    		<th>Creado Por:</th>
				    		<th><i class="fa fa-wrench"></i></th>
				    	</thead>
				    	<tbody>
				    		{% for entity in Noticias %}
				    			 	<tr>			                            
			                            <td>{{ entity.TituloNoticia }}</td>
			                            <td>{{ entity.FechaInicio.date|date("d/m/Y") }}</td>
			                            <td>{{ entity.FechaFin.date|date("d/m/Y") }}</td>
			                            <td>
			                            {% if entity.TipoNoticia == "small-box bg-aqua" %}
											   	<span class="label label-info" style="font-size: 15px;">Relevante</span>
										{% elseif entity.TipoNoticia == "small-box bg-green" %}
											    <span class="label label-success" style="font-size: 15px;">Informativa</span>
										{% elseif entity.TipoNoticia == "small-box bg-yellow" %}
												<span class="label label-warning" style="font-size: 15px;">Importante</span>
										{% elseif entity.TipoNoticia == "small-box bg-red"%} 
											   	<span class="label label-danger" style="font-size: 15px;">Sumamente Importante</span>
										{% endif %}
										</td>
			                            <td>{{ entity.Usuario.uNombre }} {{ entity.Usuario.uApPaterno }} {{ entity.Usuario.uApMaterno }}</td>
			                            <td><button class="btn btn-primary" onclick="verNoticia({{ entity.idNoticia }});"><i class="glyphicon glyphicon-eye-open"></i></button>&nbsp;<button class="btn btn-success" onclick="editNoticia({{ entity.idNoticia }});"><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger" onclick="deleteNoticia({{ entity.idNoticia }});"><i class="fa  fa-times-circle"></i></button></td>
		                          	</tr> 
							{% endfor %}
				    	</tbody>
					</table>
                </div>
             </div>

             <div class="box box-danger">
                <div class="box-header">
                  <h3 class="box-title">Editar Noticia</h3>
                </div>
                <div class="box-body">
                 	{{ form_start(form_edit) }}
			                  {% for row in [                   
			                    [ ['titulo', 2],	['tiponoticia']    	],
			                    [ ['cuerpo',3] 							],
			                    [ ['archivo',2],	['Eliminar']		],
			                    [ ['url',3]								],
			                    [ ['fechaInicio'],   ['fechaFin']  		]
			                    ] 
			                  %}
			                    <div class="row">   
			                    {% for field in row %}
			                      <div class="col-md-{{ field[1] is defined ? field[1] * 4 :  4 }}">
			                        {% if (attribute(form_edit, field[0]) is defined) %}
			                          {{ form_row(attribute(form_edit, field[0])) }}
			                        {% endif %}
			                      </div>
			                    {% endfor %}
			                    </div>
			                  {% endfor %}
		                {{ form_rest(form_edit) }}
		            {{ form_end(form_edit) }}
                </div><!-- /.box-body -->
              </div>
		    

		</section> 	
			
    <!-- POP UP INFORMACION DETALLADA DE LA NOTICIA-->
        	<div class="modal" id="pp_dtl_noticia">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Noticia</h4>
                  </div>
                  <div class="modal-body" id="body_detalle_noticia">
                    	
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>


    <!-- POP UP PREVIO NOTICIAS-->
        	<div class="modal" id="pp_prev">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Vista Previa de Noticia</h4>
                  </div>
                  <div class="modal-body" id="body_prev">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>        

{% endblock %}

{% block javascripts %}
	<script type="text/template" id='detalle_noticia'>
	  	<div class="row">
	  		<div class="col-xs-12">
	  			<% 
	  			if(Info.TipoNoticia == "small-box bg-aqua")
	      		{
	  			%>
	  				<div class="box box-info">
	  			<% 
	  			}else if(Info.TipoNoticia == "small-box bg-green")
	      		{
	  			%>
	  				<div class="box box-success">
	  			<% 
	  			}else if(Info.TipoNoticia == "small-box bg-yellow")
	      		{
	  			%>
	  				<div class="box box-warning">
	  			<% 
	  			}else if(Info.TipoNoticia == "small-box bg-red")
	      		{
	  			%>
	  				<div class="box box-danger">
	  			<% 
	  			}else{
	  			%>
	  				<div class="box box-primary">
				<% 
	  			}
	  			%>  			
	  				
		                <div class="box-header">
		                  <h3 class="box-title">Noticia #<%= Info.idNoticia %></h3>
		                </div>
		                <div class="row">
		                	<div class="col-xs-4">
								<img src=<%= Info.Imagen %> style="width: 100%;margin-left: 10%;" id="img_destino">
							</div>
							<div class="col-xs-8" style="text-align: center; font-size: 27px; font-weight: 600;word-wrap: break-word;">
								<%= Info.TituloNoticia %>	
							</div>
							<div class="col-xs-12" style="padding: 5px 29px; font-size: 15px; font-weight: 600; text-align: left;word-wrap: break-word;">
								<%= Info.Noticia %>
							</div>
							<div class="col-xs-6" style="padding: 5px 26px; text-align: center; font-weight: 600;word-wrap: break-word;">
								<label>Autor: </label> <%= Info.Usuario.fullname %>
							</div>
							<div class="col-xs-6" style="padding: 5px 26px; text-align: center; font-weight: 600;word-wrap: break-word;">
								<% 
					  			if(Info.URL)
					      		{
					  			%>
					  			<label>Link de consulta: </label>   <a href="<%= Info.URL %>"  target="_blank"><%= Info.URL %></a>
					  			<%
					  			}
					  			%>
							</div>
		                </div>
	              	</div>
	  		</div>	
	  	</div>	
	</script>
	<script type="text/template" id='edit_noticia'>
	  	<div class="row">
	  		<div class="col-md-8">
	  			 <label for="edit_titulo">* Titulo Noticia:</label>
	  			 <input id="edit_titulo" required="required" class="form-control" maxlength="40" type="text">
	  		</div>
	  		<div class="col-md-4">
	  			 <label for="edit_tiponoticia" class="required">* Relevancia de la Noticia:</label>
	  			 <select id="edit_tiponoticia" required="required" class="form-control">
	  			 	<option value="0">---------------------------------</option>
	  			 	<option value="small-box bg-aqua">Noticia Relevante</option>
	  			 	<option value="small-box bg-green">Noticia Informativa</option>
	  			 	<option value="small-box bg-yellow">Noticia Importante</option>
	  			 	<option value="small-box bg-red">Noticia de Sumamente Importante</option>
	  			 </select>
	  		</div>
	  		<div class="col-md-12">
	  			 <label for="edit_cuerpo" class="required">* Descripción de la Noticia:</label>
	  			 <textarea id="edit_cuerpo" required="required" class="form-control" maxlength="650"></textarea>
	  		</div>
	  		<div class="col-md-8">
	  			<label for="edit_archivo">Imagen:</label>
	  			<input id="edit_archivo" class="form-control" onchange="validateNotImgExtension(this.value,this.id)" type="file">
	  		</div>
	  		<div class="col-md-4"></div>	  		
	  		<div class="col-md-12"></div>
	  		<div class="col-md-4"></div>
	  		<div class="col-md-4"></div>
	  	</div>	
	</script>
	<script>
		$(document).ready(function() {

		    $('#tbl_noticias').DataTable({
        					"language":DataTables.languaje.es
										 					
        	});

		    $( "select" ).addClass( "form-control" );
			$( "input[type='text']" ).addClass( "form-control" );
			$( "input[type='search']").addClass( "form-contro" );		        	
			$( "#tbl_noticias_length" ).addClass( "form-inline" );
			$( "#tbl_noticias_filter" ).addClass( "form-inline" );

			clearForm();

		} );

		var idNoticiaEdit = 0;
		var imgdefaul = "";
   
    function validateNotImgExtension(file,id){
            extensiones_permitidas = new Array(".gif", ".jpg", ".png");
            peso_maximo = 2500000;
            extension = (file.substring(file.lastIndexOf("."))).toLowerCase();
            input = document.getElementById(id);
            file = input.files[0];
            peso = file.size;
            permitida = 0; 
                for (var i = 0; i < extensiones_permitidas.length; i++) { 
                    if (extensiones_permitidas[i] == extension) { 
                        permitida = 1; 
                        break; 
                    }
                }
                if(peso > peso_maximo){
                    permitida = 2; 
                }

            if (!permitida) { 
                $('#form_Guardar').attr("disabled", true); 
                $('#form_Vista').attr("disabled", true); 
                alert("El tipo de archivo no es valido, solo se permiten archivos de tipo imagen, con extensión:</br>->.gif</br>->.jpg</br>->.png");
            }else if(permitida == 1){
                $('#form_Guardar').attr("disabled", false); 
                $('#form_Vista').attr("disabled", false); 
            }else if(permitida == 2){
                $('#form_Guardar').attr("disabled", true); 
                $('#form_Vista').attr("disabled", true); 
                alert("El Archivo que intenta subir es muy grande, los archivos no deben superar 2.5 MB");
            }
        }

        function verNoticia(idNoticia){
			var urlGetNoticias = "{{path('get_info_noticia')}}"; 
			showLoading("Cargando Información de la Noticia");
			$.post(urlGetNoticias, {idNoticia:idNoticia}, function(data, textStatus, xhr) {

				if(data.estatus == 1){
					var template = _.template(document.getElementById("detalle_noticia").textContent);
	    			var html_flujo = template(data);
	    			$("#body_detalle_noticia").html(html_flujo);
					hideLoading();
					$('#pp_dtl_noticia').modal({
				      backdrop: 'static',
				      keyboard: false
				    });
				}else{
					hideLoading();
					alert(data.mensaje);
				}
				

			});
		}

		function editNoticia(idNoticia){
			var urlGetNoticias = "{{path('get_info_noticia')}}"; 
			showLoading("Preparando edición de Noticia");
			$.post(urlGetNoticias, {idNoticia:idNoticia}, function(data, textStatus, xhr) {

				if(data.estatus == 1){

					idNoticiaEdit = idNoticia;
					imgdefaul = data.Info.Imagen;

					$('#form_titulo').val(data.Info.TituloNoticia);
					$('#form_tiponoticia').val(data.Info.TipoNoticia);
					$('#form_cuerpo').val(data.Info.Noticia);
					if(data.Info.URL){
						$('#form_url').val(data.Info.URL);
					}					
					$('#form_fechaInicio').val(data.Info.InicioGregorian.replace(/-/g,"/"));
					$('#form_fechaFin').val(data.Info.FinGregorian.replace(/-/g,"/"));
					hideLoading();

				}else{
					hideLoading();
					alert(data.Info);
				}
				

			});
		}

		function showPrev(){
	    	var title = $('#form_titulo').val();
			var noticia = $('#form_cuerpo').val();
			var url = $('#form_url').val();
			var type = $('#form_tiponoticia').val();
			var image = $('#form_archivo').val();

				if(idNoticiaEdit){
					if(title && noticia && type){
						var body = '<div class="row">'+
										'<div class="col-xs-12 box box-primary">'+
													'<div class="col-xs-4">'+
														'<img src="'+imgdefaul+'" style="width: 100%;" id="img_destino">'+
													'</div>'+
													'<div class="col-xs-8" style="text-align: center; font-size: 27px; font-weight: 600;word-wrap: break-word;">'+
														title+
													'</div>'+
													'<div class="col-xs-12" style="word-wrap: break-word;">'+
														noticia+
													'</div>'+
										'</div>'+
										'<div class="col-xs-5">'+
											'<div class="'+type+'" style="height: 95px;">'+
								                '<div class="inner" style="word-wrap: break-word;">'+
								                  '<p>'+title+'</p>'+
								                '</div>'+
								                '<div class="icon">';
								                  	
								        if(type == "small-box bg-aqua"){
								        	body = body + '<i class="fa fa-bookmark"></i>';
								        }else if(type == "small-box bg-green"){
								        	body = body + '<i class="fa fa-comment-o"></i>';
								        }else if(type == "small-box bg-yellow"){
								        	body = body + '<i class="glyphicon glyphicon-bullhorn"></i>';
								        }else if(type == "small-box bg-red"){					        	
								        	body = body + '<i class="glyphicon glyphicon-warning-sign"></i>';
								        }          	

								    body = body+'</div>'+
								                '<a href="#" class="small-box-footer">'+
								                  'Más Información <i class="fa fa-arrow-circle-right"></i>'+
								                '</a>'+
								            '</div>'+
										'</div>'+
								   '</div>';
								if (document.getElementById("form_archivo").files[0]) {
									  var reader = new FileReader();
									  reader.onload = function (e) {
									   $('#img_destino').attr('src', e.target.result);
									  }
									  reader.readAsDataURL(document.getElementById("form_archivo").files[0]);
									 }   
							$('#body_prev').html(body);	   
						$('#pp_prev').modal({
					      backdrop: 'static',
					      keyboard: false
					    });		   
					}else{
						alert('Para poder visualizar la vista previa debe indicar:</br>->Titulo Noticia</br>->Descripción de la Noticia</br>->Relevancia de la noticia');
					}
				}else{
						alert('Debe seleccionar una noticia para editar ');
				}	

	    }

	    $( "#form_fechaInicio" ).datepicker({
	      format:   "dd/mm/yyyy",
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "1900:2050",
	      minDate: "-0D",
	    });

	    $( "#form_fechaFin" ).datepicker({
	      format:   "dd/mm/yyyy",
	      changeMonth: true,
	      changeYear: true,
	      yearRange: "1900:2050",
	      minDate: "-0D",
	    });

	    //validar fechas    
	    function vd_date(){
	        
	        var date1 = createdate($('#form_fechaInicio').val());
	        var date2 = createdate($('#form_fechaFin').val());

	        if (date1 > date2){
	            alert("La fecha de fin no puede ser una fecha anterior a la fecha de Inicio");
	            $('#form_Guardar').attr("disabled", true);    
	        }else{
	        	$('#form_Guardar').attr("disabled", false); 
	        }

	    }


		function consulta(){
			var option = $('#form_activas').val();
			if(option){
				showLoading('Cargando Noticias');
			}

		}

		function clearForm(){
	    	$('#form_titulo').val('');
			$('#form_cuerpo').val('');
			$('#form_url').val('');
			$('#form_tiponoticia').val('');
			$('#form_archivo').val('');
			$( "#form_fechaInicio" ).val('');
			$( "#form_fechaFin" ).val('');
			$('#form_Guardar').attr("disabled", false); 
	        $('#form_Vista').attr("disabled", false); 
	        idNoticiaEdit = 0;
			imgdefaul = "";
	    }

	    function ClearImage(){
	    	$('#form_archivo').val('');
			$('#form_Guardar').attr("disabled", false); 
	        $('#form_Vista').attr("disabled", false); 
	    }

	    function formatISO(date){

		    var day =date.substr(0, 2);
		    var month=date.substr(3, 2);
		    var year=date.substr(6, 9);
		    
		    var Ndate = year+"-"+month+"-"+day;
		    return Ndate;
		} 
	    


	    function save(){
	    	if(idNoticiaEdit){
	    		var titulo = $('#form_titulo').val();
				var cuerpo = $('#form_cuerpo').val();
				var tipo = $('#form_tiponoticia').val();
			if(titulo && cuerpo && tipo){
					showLoading("Actualizando Noticia");
					var formData = new FormData();
					formData.append('archivo', document.getElementById("form_archivo").files[0]);
					formData.append('titulo', $('#form_titulo').val());
	    			formData.append('cuerpo', $('#form_cuerpo').val());
	    			formData.append('tipo', $('#form_tiponoticia').val());
	    			formData.append('url', $('#form_url').val());
	    			formData.append('inicio', formatISO($( "#form_fechaInicio" ).val()));
	    			formData.append('fin', formatISO($( "#form_fechaFin" ).val()));
	    			formData.append('idNoticia',idNoticiaEdit);

	    			var urlUpdate =  "{{path('update_noticia')}}"; 

	    			jQuery.ajax({
					url: urlUpdate,
					data: formData,
					cache: false,
					contentType: false,
					processData: false,
					type: 'POST',
					success: function(data){
						if(data.estatus == 1)
						{
							document.location.href= "{{ path('admin_news') }}";

						}else{
							hideLoading();
							alert(data.mensaje);

						}
					}
				});

			}else{
				alert('Debe indicar:</br>->Titulo Noticia</br>->Relevancia de la Noticia</br>->Descripción de la Noticia');
			}	

	    			
	    	}else{
	    		alert('Debe seleccionar una noticia para editar ');
	    	}

	    }

	    function deleteNoticia(idNoticia){
	    	confirmar=confirm("¿Decea eliminar esta noticia ?"); 
    		if(confirmar){
    			var urlGetNoticias = "{{path('delete_noticia')}}"; 
				showLoading("Eliminando Noticia");
				$.post(urlGetNoticias, {idNoticia:idNoticia}, function(data, textStatus, xhr) {
				
						if(data.estatus == 1){
							document.location.href= "{{ path('admin_news') }}";
						}else{
							hideLoading();
							alert(data.mensaje);
						}
				

				});
    		}	
	    }
	</script>
{% endblock %}