{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Nuevas Noticias {% endblock title %}

{% block stylesheets %}
	<style>
		#form_titulo,#form_cuerpo,#form_url,#form_fechaInicio,#form_fechaFin,#form_tiponoticia,#form_archivo{
		    margin-bottom: 2%;
		}

		#form_cuerpo {
		    height: 175px;
		    resize: none;
		}

		.content-header {
		    margin-top: -1%;
		    margin-bottom: 2%;
		}
		#form_tiponoticia > option[value="info-box bg-aqua"]{
			color: #4343ED;
			font-weight: 700;
		}
		#form_tiponoticia > option[value="info-box bg-green"]{
			color: #3F963F;
			font-weight: 700;
		}
		#form_tiponoticia > option[value="info-box bg-yellow"]{
			color :#F0B832;
			font-weight: 700;
		}
		#form_tiponoticia > option[value="info-box bg-red"]{
			color :#FB2929;
			font-weight: 700;
		}
		#form_Eliminar {
		    margin-top: 25px;
		    float: left;
		}

		#form_Guardar {
		    float: left;
		    margin-left: 15px;
		    margin-right: 15px;
		}
		#form_Cancelar {
    		float: left;
    		margin-right: 15px;
		}
		#image_prev{
			background:width: 100%; 
			height: 18vh;
			background:url("{{ asset('bundles/mdrcobranza/images/logoMDR.png') }}") no-repeat scroll center center / 72% auto transparent;
		}

	</style>	
{% endblock %}

{% block body -%}
        
        	<section class="content-header">
	          <h1>
	            Noticias
	            <small>Nuevas noticias</small>
	          </h1>
	        </section>

	        <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Registro de nueva Noticia.</h3>
            	</div>
        <section class="content">        
                <div class="box-body">
		        	<div class="row">
		        		{{ form_start(form_nnews) }}
		                  {% for row in [
		                    [ ['titulo', 2],	['tiponoticia']    	],
		                    [ ['cuerpo',3] 							],
		                    [ ['archivo',2],	['Eliminar']		],
		                    [ ['url',3]								],
		                    [ ['fechaInicio'],   ['fechaFin']  		]
		                    ] 
		                  %}
		                    <div class="row">   
		                    {% for field in row %}
		                      <div class="col-md-{{ field[1] is defined ? field[1] * 4 :  4 }}">
		                        {% if (attribute(form_nnews, field[0]) is defined) %}
		                          {{ form_row(attribute(form_nnews, field[0])) }}
		                        {% endif %}
		                      </div>
		                    {% endfor %}
		                    </div>
		                  {% endfor %}
		                  {{ form_rest(form_nnews) }}
		                  {{ form_end(form_nnews) }}
		        	</div>
		        </div>
		</section>        
		    </div>    
        
       <!-- POP UP INFORMACION RESPECTO A LAS NOTICIAS-->
        	<div class="modal" id="pp_prev">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Vista Previa de Noticia</h4>
                  </div>
                  <div class="modal-body" id="body_prev">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
{% endblock %}

{% block javascripts %}

	<script>

	$( "#form_fechaInicio" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
      minDate: "-0D",
    });

    $( "#form_fechaFin" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
      minDate: "-0D",
    });

    //validar fechas    
    function vd_date(){
        
        var date1 = createdate($('#form_fechaInicio').val());
        var date2 = createdate($('#form_fechaFin').val());

        if (date1 > date2){
            alert("La fecha de fin no puede ser una fecha anterior a la fecha de Inicio");
            $('#form_Guardar').attr("disabled", true);    
        }else{
        	$('#form_Guardar').attr("disabled", false); 
        }

    }

    function ClearImage(){
    	$('#form_archivo').val('');
		$('#form_Guardar').attr("disabled", false); 
        $('#form_Vista').attr("disabled", false); 
    }

    function clearForm(){
    	$('#form_titulo').val('');
		$('#form_cuerpo').val('');
		$('#form_url').val('');
		$('#form_tiponoticia').val('');
		$('#form_archivo').val('');
		$('#form_Guardar').attr("disabled", false); 
        $('#form_Vista').attr("disabled", false); 
    }

    function showPrev(){
    	var title = $('#form_titulo').val();
		var noticia = $('#form_cuerpo').val();
		var url = $('#form_url').val();
		var type = $('#form_tiponoticia').val();
		var image = $('#form_archivo').val();
		if(title && noticia && type){
			var body = '<div class="row">'+
							'<div class="col-xs-12 box box-primary">'+
										'<div class="col-xs-4">'+
											'<img src={{ asset("bundles/mdrcobranza/images/logoMDR.png") }} style="width: 100%;" id="img_destino">'+
										'</div>'+
										'<div class="col-xs-8" style="text-align: center; font-size: 27px; font-weight: 600;word-wrap: break-word;">'+
											title+
										'</div>'+
										'<div class="col-xs-12" style="word-wrap: break-word;">'+
											noticia+
										'</div>'+
							'</div>'+
							'<div class="col-xs-5">'+
								'<div class="'+type+'" style="height: 95px;">'+
					                '<div class="inner" style="word-wrap: break-word;">'+
					                  '<p>'+title+'</p>'+
					                '</div>'+
					                '<div class="icon">';
					                  	
					        if(type == "small-box bg-aqua"){
					        	body = body + '<i class="fa fa-bookmark"></i>';
					        }else if(type == "small-box bg-green"){
					        	body = body + '<i class="fa fa-comment-o"></i>';
					        }else if(type == "small-box bg-yellow"){
					        	body = body + '<i class="glyphicon glyphicon-bullhorn"></i>';
					        }else if(type == "small-box bg-red"){					        	
					        	body = body + '<i class="glyphicon glyphicon-warning-sign"></i>';
					        }          	

					    body = body+'</div>'+
					                '<a href="#" class="small-box-footer">'+
					                  'Más Información <i class="fa fa-arrow-circle-right"></i>'+
					                '</a>'+
					            '</div>'+
							'</div>'+
					   '</div>';
					if (document.getElementById("form_archivo").files[0]) {
						  var reader = new FileReader();
						  reader.onload = function (e) {
						   $('#img_destino').attr('src', e.target.result);
						  }
						  reader.readAsDataURL(document.getElementById("form_archivo").files[0]);
						 }   
				$('#body_prev').html(body);	   
			$('#pp_prev').modal({
		      backdrop: 'static',
		      keyboard: false
		    });		   
		}else{
			alert('Para poder visualizar la vista previa debe indicar:</br>->Titulo Noticia</br>->Descripción de la Noticia</br>->Relevancia de la noticia');
		}


    }

    function save(){
    	var title = $('#form_titulo').val();
		var noticia = $('#form_cuerpo').val();
		var type = $('#form_tiponoticia').val();
    	if(title && noticia && type){
    		showLoading("Guardando Noticia");
    	}
    }

    function validateNotImgExtension(file,id){
            extensiones_permitidas = new Array(".gif", ".jpg", ".png");
            peso_maximo = 2500000;
            extension = (file.substring(file.lastIndexOf("."))).toLowerCase();
            input = document.getElementById(id);
            file = input.files[0];
            peso = file.size;
            permitida = 0; 
                for (var i = 0; i < extensiones_permitidas.length; i++) { 
                    if (extensiones_permitidas[i] == extension) { 
                        permitida = 1; 
                        break; 
                    }
                }
                if(peso > peso_maximo){
                    permitida = 2; 
                }

            if (!permitida) { 
                $('#form_Guardar').attr("disabled", true); 
                $('#form_Vista').attr("disabled", true); 
                alert("El tipo de archivo no es valido, solo se permiten archivos de tipo imagen, con extensión:</br>->.gif</br>->.jpg</br>->.png");
            }else if(permitida == 1){
                $('#form_Guardar').attr("disabled", false); 
                $('#form_Vista').attr("disabled", false); 
            }else if(permitida == 2){
                $('#form_Guardar').attr("disabled", true); 
                $('#form_Vista').attr("disabled", true); 
                alert("El Archivo que intenta subir es muy grande, los archivos no deben superar 2.5 MB");
            }
        }
	</script>
{% endblock %}