{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IntranetMenus list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Url</th>
                <th>Nombre</th>
                <th>Idmenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('intranetmenus_show', { 'id': entity.idMenu }) }}">{{ entity.url }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.idMenu }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('intranetmenus_show', { 'id': entity.idMenu }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('intranetmenus_edit', { 'id': entity.idMenu }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('intranetmenus_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
