{% extends '::base.html.twig' %}

{% block title %}Producto Precio{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
{% endblock %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Producto Precio</h1> 
	{{ form_start(form) }}
	
    <table  class="table table-bordered table-striped table-condensed">
        <tbody>
            <tr> 
                <td>
				   <div class="form-group">
					{{ form_row(attribute(form, "canalDistribucion")) }}
                   </div>
				</td>
				<td>
				   <div class="form-group">
					{{ form_row(attribute(form, "oficinaVentas")) }}
                   </div>
				</td>
				<td>
				   <div class="form-group">
					{{ form_row(attribute(form, "activo")) }}
                   </div>
				</td>
				<td>
				   <div class="form-group">
					{{ form_row(attribute(form, "producto")) }}
                   </div>
				</td>
            </tr>
			 </table>
			
              {{ form_rest(form) }}
              {{ form_end(form) }}
        
<br><br>
    <table id="ProdPrecio" class="table table-bordered table-striped table-condensed">
        <thead class="head_table">
            <tr>
				<th>Producto</th>
                <th>Material Precio</th>
                <th>Material SAP</th>
                <th>Precio</th>
                <th>Moneda</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr> 
				<td>{{ entity.producto.descripcion }}</td>
                <td>{{ entity.materialPrecio }}</td>
                <td>{{ entity.producto.codigoSAP }}</td>
                <td>{{ entity.precio }}</td>
                <td>{{ entity.moneda }}</td>
				
                <td align="center"><input {{ entity.activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" name="estado{{ entity.idProductoPrecio }}" onchange="actualizar({{ entity.idProductoPrecio }}, this);"/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
    {% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->

<script type="text/javascript">
var urlActualizar = "{{path('_ActualizarProductoPrecio')}}"; 
function actualizar(idProductoPrecio, self){

$.post(urlActualizar, {idProductoPrecio:idProductoPrecio,valor:self.checked}, function(data, textStatus, xhr) {
   /*optional stuff to do after success */
   if (data.estado==1){
   	/*alert("Se actulizo el estado del producto precio");*/
   }
   else{
   alert(data.mensaje);
   }  
  });
  }
  
  $(document).ready(function() {
    $('#ProdPrecio').dataTable({
		"language":DataTables.languaje.es                    
			   			});


      $( "select" ).addClass( "form-control" );
      $( "input[type='text']" ).addClass( "form-control" );
      $( "input[type='search']").addClass( "form-control" );
      $( "#ProdPrecio_length" ).addClass( "form-inline" );
      $( "#ProdPrecio_filter" ).addClass( "form-inline" );
                

} );
</script>
{% endblock %}
