{% extends '::base.html.twig' %}

{% block title %}Gastos de envió{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Gastos de Envío Detalle</h1>

    <table class="table table-bordered table-striped table-condensed">
        <tbody>
            <tr>
                <th>Precio</th>
                <td><b>{{ entity.precio }}</b></td>
            </tr>
            <tr>
                <th>Tipo de Gasto</th>
                <td><b>{{ entity.tipoPago }}</b></td>
            </tr>
        </tbody>
    </table>
        <br />
        <a type="button" class="btn btn-primary" href="{{ path('gastosenvio') }}">
            Regresar al Listado
        </a>
        <br />
        <a type="button" class="btn btn-primary" href="{{ path('gastosenvio_edit', { 'id': entity.idGastosEnvio }) }}">
            Editar
        </a>
        <br /><br />
   {{ form(delete_form) }}
</div>
{% endblock %}
