{% set editable = true %}
{% if is_granted('ROLE_ADMIN') %}
	{% set editable = true %}
{% endif %}
<%
	var contenidoVacio = 'Sin contenido';
	var logo = imagen == null ? '' : imagen.split('|')[0];
	var fondo = imagen == null ? '' : imagen.split('|')[1];
%>
<div data-nombre="fondo" <% if(fondo !== undefined && fondo.length > 0) { %>style="background: url('<%= urls.intranet.uploads %>/<%= idContenido %>/__fondo.<%= fondo %>')"<% } %>>
	{% block body %}{% endblock %}
	<%
	if(usuarioCrea != '')
	{
	%>
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-xs-6">
						<b>Creado por:</b>
						<%= usuarioCrea.fullname %> el <%= formatDate(new Date(getDateFromFormat(fechaCreacion.date, "yyyy-MM-dd HH:mm:ss")), 'dd/MM/yyyy HH:mm:ss') %>
						</div>
						<div class="col-xs-6">
							<b>Modificado por:</b>
							<%= usuarioEdita.fullname %> el <%= formatDate(new Date(getDateFromFormat(fechaEdicion.date, "yyyy-MM-dd HH:mm:ss")), 'dd/MM/yyyy HH:mm:ss') %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%
	}
	%>
</div>

{% block javascript %}{% endblock %}