<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Verquet S.A. de C.V.{% endblock %}</title>
        <link href="{{ asset('bundles/mdrcobranza/images/logoMDR.png') }}"  rel="icon" type="image/x-icon" />
        {% if sinMenu is not defined %}
        <link href="{{ asset('bundles/mdrcobranza/css/style.css') }}" rel="stylesheet">
        {% endif %}
        <link href="{{ asset('vendor/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/base.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/jquery-ui.structure.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/css/jquery-ui.theme.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container" id="alert-message" >
        {% spaceless %}
        {% for flashType in [ 'success', 'info', 'warning', 'error' ] %}
            {% set flashMessages = app.session.flashbag.get(flashType) %}
            {% set flashType = flashType == 'error' ? 'danger' : flashType   %}
            {% if flashMessages | length > 0 %}
                <div class="alert alert-{{ flashType }} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {% for flashMessage in flashMessages %}
                    <div><b>{{ flashMessage|raw }}</b></div>
                    {% if not loop.last %}
                    <br/>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        {% endspaceless %}
        </div>

        {% if app.user %}
        {% if sinMenu is not defined %}
        <div class="container generalContainer" style="background: rgba(0, 0, 0, 0.31) !important;padding: 10px 0px 0px 0px !important;">
            <div class="row">
                <div class="col-xs-2" id="head-menu">
                    <div clasS="row">
                        <div class="col-xs-12" id="space-logo">
                            <a href="{{ path('menu') }}"><img src="{{ asset('vendor/img/logoMDR.png') }}" style="width: 30%; margin-top: 0px; margin-left: 67px;"></a>
                        </div>
                        <div class="col-xs-12" style="text-align: center;color: #FFF;display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">
                            {% block info %}<div><label style="color: rgb(255, 255, 255);">{{ app.user.uClave | upper }}</label></div>{% endblock %}
                        </div>
                    </div>
                </div> 
                <div class="col-xs-10" id="space-menu" style="width: 82%; margin-right: 15px ! important; float: right ! important;">
                    {% include 'MDRAdministracionBundle:Default:menu.html.twig' %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}

        <div id="resources" style="display:none;">
            <img id="loadingImage" src="{{ asset('vendor/img/bubbles_load.gif') }}" />
        </div>

        <script src="{{ asset('vendor/js/json2.js') }}" /></script>
        <script src="{{ asset('vendor/js/jquery.js') }}" /></script>
        <script src="{{ asset('vendor/js/jquery-ui.js') }}" /></script>
        <script src="{{ asset('vendor/js/underscore.js') }}" /></script>
        <script src="{{ asset('vendor/js/backbone.js') }}" /></script>
        <script src="{{ asset('vendor/js/backbone.localStorage.js') }}" /></script>
        <script src="{{ asset('vendor/js/bootstrap.min.js') }}" /></script>
        <script src="{{ asset('vendor/js/bootbox.js') }}" /></script>
        <script src="{{ asset('vendor/js/accounting.js') }}" /></script>
        <script src="{{ asset('vendor/js/modernizr-latest.js') }}" /></script>
        <script src="{{ asset('vendor/js/blockui.js') }}"></script>
        <script src="{{ asset('js/util.js') }}"></script>
        <script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
        <script type="text/javascript">
            var loadingImage = null;
            var messageLoading = [];
            var urls = {};
            //Imagenes para validacion de explorador
            var img_error = new Image();
            img_error.src = "{{ asset('vendor/img/error.png') }}";
            var img_firefox = new Image();
            img_firefox.src = "{{ asset('vendor/img/Firefox.png') }}";

            alert = function(message){
                try
                {
                    bootbox.alert({message: message, className: "alertBootstrap"});
                }
                catch(err) {
                    console.log(err.message);
                }
            };
        </script>
        {% block body %}{% endblock %}
        <script type="text/javascript">
            loadingImage = document.getElementById("loadingImage");
            $.blockUI.defaults.baseZ = 1200;

        // Traducción al español
        jQuery(function ($) {
            $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant', 
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                yearSuffix: ''

              };
                $.datepicker.setDefaults($.datepicker.regional['es']);
        });

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
