{% extends '::base.html.twig' %}

{% block title %}Sub Tipo de Llamadas{% endblock title %}
{% form_theme edit_form '::Forms/bootstrapForm.html.twig' %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Editar Sub Tipo Llamada</h1>
     
    {{ form(edit_form) }}
<div class="form-group" >
	   <br />
	    <a type="button" style="float: left;margin-right: 14px;margin-top: 7px;" class="btn btn-primary" href="{{ path('subtipollamada') }}">
            Regresar al Listado
        </a>
		<br /><br />
     {{ form(delete_form) }}
</div>
{% endblock %}
