{% extends '::base.html.twig' %}

{% block title %}Sub Tipo de Llamadas{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
{% endblock %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Sub Tipo de Llamadas</h1>

		<br />
            <a type="button" class="btn btn-primary" href="{{ path('subtipollamada_new') }}">
                Crear nuevo Sub Tipo
            </a>
            <a type="button" class="btn btn-primary" href="{{ path('subtipollamada_excel_export') }}">
                Excel
            </a>
        <br /><br />
    <table id="subtipo" class="table table-bordered table-striped table-condensed">
        <thead class="head_table">
            <tr>
			    <th>Tipo de Llamada</th>
                <th>Descripción Sub Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
			    <td>{{ entity.tipoLlamada }}</td>
                <td>{{ entity.descripcionSubTipo }}</td>
                <td>
                        <a type="button" class="btn btn-primary" href="{{ path('subtipollamada_edit', { 'id': entity.idSubTipo }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

	{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->
<script type="text/javascript">  
  $(document).ready(function() {
    $('#subtipo').dataTable({
		"language":DataTables.languaje.es                    
			   			});

      $( "select" ).addClass( "form-control" );
      $( "input[type='text']" ).addClass( "form-control" );
      $( "input[type='search']").addClass( "form-control" );
      $( "#subtipo_length" ).addClass( "form-inline" );
      $( "#subtipo_filter" ).addClass( "form-inline" );

} );
</script>
{% endblock %}

