{% extends '::base.html.twig' %} 


{% block title %}MDR - Cobranzas - Recuperación{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrcobranza/css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrcobranza/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrcobranza/css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
	<link href="{{ asset('bundles/mdrcobranza/images/logoMDR.png') }}"  rel="icon" type="image/x-icon" />
{% endblock %}
{% block body %}

<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">
		
	    <div class="at_crcobranza" id="pf_opmenu" style="padding-top: 10px;padding-left: 35px;padding-right: 35px;">
	      	<div class="row" id="form_operaciones">
	      		<div class="panel panel-info col-md-12" id="space_coments">
	      			<div class="panel-heading" style="margin-bottom: 15px;">
	      				Comentarios
		      		</div>
		      			<div class="col-md-6">
		      				<div class="col-md-4 lbl_edit"><label class="required">Tipo de llamada:</label></div>
		      				<div class="col-md-8"><select class="form-control" style="margin-bottom: 10px;" id="slt_tipollamada" onchange="update_stllamada()">
		      					<option value="">----------------------</option>
		      				</select></div>
		      				<div class="col-md-4 lbl_edit"><label class="required">Subtipo de llamada:</label></div>
		      				<div class="col-md-8"><select class="form-control" style="margin-bottom: 10px;" id="slt_stipollamada"></select></div>
		      				<div class="col-md-4 lbl_edit"><label class="required">Tipo de Edición:</label></div>
		      				<div class="col-md-8" id="edicion_oper">
		      					<select class="form-control"  id="slt_edicion" onchange="open_form()">
		      						<option value="SO">----------------------</option>
		      						<option value="D">Dirección</option>
		      						<option value="T">Tarjeta</option>
		      					</select>		      					
		      				</div>		      				
		      			</div>
		      			<div class="col-md-6">
		      				<div class="col-md-3"><label class="required">Comentarios:</label></div>
		      				<div class="col-md-9" style="margin-bottom: 15px;"><textarea id="txt_comentarios" maxlength="150" style="resize:none;height: 150px;" class="form-control"></textarea></div>
		      			</div>
		      			<div class="col-md-12 lbl_edit" style="margin-top: 5px;text-align: center;margin-bottom: 10px;"><button type="button" class="btn btn-danger" onclick="cancelar_edicion()">Regresar a Pedidos</button></div>
	      		</div>
	      		<div class="panel panel-success col-md-6" id="space_pago" name="space_pago">
	      			<div class="panel-heading" style="margin-bottom: 15px;">Información del Tipo de Pago</div>
	      			<div class="col-xs-6">
						<div class="form-group"><label class="required">Tipo de pago:</label>
	      					<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_tipopago" onchange="tipo_pago()">
	      						<option value="">--------------------------------</option>
	      					</select>
	      				</div>
					</div>	
	      			 <div class="form-group" id="options_pago">	
		      			<div class="col-xs-6">
							<div class="form-group"><label class="required">Número Tarjeta:</label>
		      					<input required="required" type="text" maxlength="16" style="margin-bottom: 10px;" id="txt_ntarjeta" class="form-control" onblur="VerificBlackList()">
		      				</div>
						</div>			
		      			<div class="col-xs-6">
							<div class="form-group"><label class="required">Es Titular:</label>
		      					<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_estitular">
		      						<option value="">--------------------------------</option>
		      					</select>
							</div>
						</div>		      			
		      			<div class="col-xs-6">
							<div class="form-group"><label class="required">Titular:</label>
		      					<input required="required" type="text" maxlength="50" style="margin-bottom: 10px;" id="txt_ntitular" class="form-control" onkeyup='javascript:this.value=this.value.toUpperCase()'>
		      				</div>
						</div>
		      			<div class="col-xs-6">
							<div class="form-group">
								<div class="col-xs-12" style="padding: 0px;"><label class="required">Vigencia:</label></div>
			      				<div class="col-xs-6" style="padding: 0px;padding-right: 2px;"><select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_mes">
			      					<option value="">--------------------------------</option>
			      				</select></div>
			      				<div class="col-xs-6" style="padding: 0px;padding-left: 2px;"><select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_annio">
			      					<option value="">--------------------------------</option>
			      				</select></div>
			      			</div>
		      			</div>
		      			<div class="col-xs-6">
							<div class="form-group"><label class="required">Codigo Seguridad:</label>
		      					<input required="required" type="text" maxlength="10" style="margin-bottom: 10px;" id="txt_seguridad" class="form-control">
		      				</div>	      				
						</div>
						<div class="col-xs-6">
							<div class="form-group"><label class="required">Postfechar:</label>
								<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_pstfechar" onchange="posfechar_cobro()">
									<option value="0">NO</option>
									<option value="1">SI</option>									
								</select>
							</div>
		      			</div>
						<div class="col-xs-6">
							<div class="form-group"><label class="required">Fecha Cobro:</label>
								<input required="required" type="text" readonly="readonly" maxlength="10" style="margin-bottom: 10px;" id="txt_fcobro" class="form-control">
							</div>
		      			</div>
						<div class="col-xs-6">
							<div class="form-group"><label class="required">Tipo Tarjeta:</label>
								<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_tipotarjeta">
								</select>
							</div>
		      			</div>
						<div class="col-xs-6">
							<div class="form-group"><label class="required">Terminal:</label>
								<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_terminal" onchange="makeManualCobro()">
								</select>
							</div>
		      			</div>
						<div class="col-xs-6">
							<div class="form-group"><label class="required">Banco:</label>
								<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_banco">
								</select>
							</div>
		      			</div>
						<div class="col-xs-6">
							<div class="form-group"><label class="required">Promoción:</label>
								<select required="required" class="form-control" style="margin-bottom: 10px;" id="slt_promo">
								</select>
							</div>
		      			</div>
		      			<div class="col-xs-6">
		      				<div class="form-group"><label>Detalle del pedido:</label>
								<p id="lbl_total"></p>
							</div>							
		      			</div>
		      			<div class="col-xs-6" id="div_autorizacion" style="display:none;">
							<div class="form-group"><label class="required">Numero de autorización:</label>
								<input required="required" class="form-control" style="margin-bottom: 10px;" id="txt_autorizacion">
							</div>
		      			</div>
		      		</div>	
		      			<div class="col-xs-12" id="btn_PagoTarjeta" style="margin-bottom: 10px;"></div>		      		
	      		</div>
	      		<div class="panel panel-warning col-md-6" id="space_direccion">
	      			<div class="panel-heading" style="margin-bottom: 15px;">Dirección</div>
	      			<div class="row" id="exist_direccion">
	      				<div class="col-xs-12">
							<div class="form-group"><label>Dirección Actual:</label>
								<p id="direc_actual"></p>
							</div>
						</div>
	      				<div class="col-xs-12">
							<div class="form-group"><label class="required">Seleccione la nueva dirección:</label>
								<select class="form-control" id="direcciones_exist">
									<option value="">--------------------------------</option>
								</select>	
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group"><label>Nueva direccion:</label>
								<input type="checkbox" id="newdireccion" onchange="new_dirrecion()" style="width: 20px;height: 20px;margin-left: 7px;">
							</div>
						</div>
	      			</div>
	      			<div class="row" id="new_direccion" style="display:none;">		
						<div class="col-xs-8">
							<div class="form-group"><label class="required">Pais</label>
								<input type="text" class="form-control" id="direcciones_pais" required="required" readonly="" value="México">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label  class="required">Cp</label>
								<input type="text" class="form-control" onblur="show_direccion()" id="direcciones_cp" required="required" maxlength="10">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label class="required">Estado</label>    
								<select class="form-control" id="direcciones_estado" required="required" onchange="loadDirection('','E')">
									<option value="">--------------------------------</option>
								</select>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label class="required">Municipio</label>        
								<select class="form-control" id="direcciones_municipio" onchange="loadDirection('','M')">
									<option value="">--------------------------------</option>
        						</select>
        					</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label class="required">Colonia</label>        
								<select class="form-control" id="direcciones_colonia" onchange="loadDirection('','CL')">
									<option value="">--------------------------------</option>
        						</select>
        					</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label class="required">Calle</label>
								<input type="text" class="form-control" id="direcciones_calle" required="required" maxlength="60" onkeyup='javascript:this.value=this.value.toUpperCase()'>
							</div>
						</div>
						<div class="col-xs-8">
							<div class="form-group"><label class="required">Entre calles</label>
							<input type="text" class="form-control" id="direcciones_entreCalles" required="required" maxlength="40" onkeyup='javascript:this.value=this.value.toUpperCase()'>
							</div>
						</div>		
						<div class="col-xs-4">
							<div class="form-group"><label class="required">No ext</label>
								<input type="text" class="form-control" id="direcciones_noExt" maxlength="10">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label>No int</label>
								<input type="text" class="form-control" id="direcciones_noInt" maxlength="10">
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group"><label class="required">Referencia</label>
								<input type="text" class="form-control" id="direcciones_referencia" maxlength="40" onkeyup='javascript:this.value=this.value.toUpperCase()'>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label class="required">Tel casa</label>
								<input type="text" class="form-control" id="direcciones_telCasa" maxlength="30">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label>Tel oficina</label>
								<input type="text" class="form-control" id="direcciones_telOficina" maxlength="30">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group"><label>Tel cel</label>
								<input type="text" class="form-control" id="direcciones_telCel" maxlength="30">
							</div>
						</div>
					</div>
					<div class="col-xs-12" id="btn_Direccion" style="margin-bottom: 10px;"></div>
	      		</div>
	      		<div class="col-xs-12" id="btn_PagoDireccion" style="margin-bottom: 10px;"></div>
	      	</div>
		</div>

	</div>
{% endblock %}
{% block javascripts %}
	<script>
		
                var WSVirtual = '{{ path('Update_Tarjeta_posfechar') }}';
                var WSManual = '{{ path('Update_Tarjeta') }}';

		$( "#txt_fcobro" ).datepicker({
					      format:   "dd/mm/yyyy",
					      changeMonth: true,
					      changeYear: true,
					      yearRange: "1900:2050"
					    });
	</script>	
	<script src="{{ asset('vendor/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/mdrcobranza/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('vendor/js/blockui.js') }}"></script>
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->
	<script>
		var pedidoEditJSON = {{ pagoTarjeta|json_encode()|raw }};
		var pedidoDireccionJSON = {{ direccion|json_encode()|raw }};
	</script>
	<script type="text/javascript" src="{{ asset('bundles/mdrcobranza/js/tools_re.js') }}"></script>
	
{% endblock %}