@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-plxdt0');
	src:url('fonts/icomoon.eot?#iefix-plxdt0') format('embedded-opentype'),
		url('fonts/icomoon.woff?-plxdt0') format('woff'),
		url('fonts/icomoon.ttf?-plxdt0') format('truetype'),
		url('fonts/icomoon.svg?-plxdt0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-marquee:before {
	content: "\e607";
}
.icon-checked:before {
	content: "\e606";
}
.icon-file-settings:before {
	content: "\e600";
}
.icon-check-square:before {
	content: "\f14a";
}
