{% extends '::base.html.twig' %}

{% block title %}Descuentos{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
{% endblock %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Descuentos</h1>
			<br />
            <a class="btn btn-primary" href="{{ path('descuentos_new') }}">
                Nuevo Descuento
            </a>
			<br /><br />
    <table id="tabla" class="table table-bordered table-striped table-condensed">
        <thead class="head_table">
            <tr>
                <th>Clave</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Importe</th>
				<th>Tipo Pago</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.desde }}</td>
                <td>{{ entity.hasta }}</td>
                <td>{{ entity.importe }}</td>
				<td>{{ entity.tipoPago}}</td>
				<td align="center"><input {{ entity.activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" name="estado{{ entity.idDescuento }}" onchange="actualizar({{ entity.idDescuento }}, this);"/></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('descuentos_edit', { 'id': entity.idDescuento }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
    {% endblock %}
	
	{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->
	
	<script type="text/javascript">
var urlActualizar = "{{path('_ActualizarDescuentos')}}"; 
function actualizar(idDescuento, self){

$.post(urlActualizar, {idDescuento:idDescuento,valor:self.checked}, function(data, textStatus, xhr) {
   /*optional stuff to do after success */
   if (data.estado==1){
   	/*alert("Se actulizo el estado del descuento");*/
   }
   else{
   alert(data.mensaje);
   }  
  });
  }

  $(document).ready(function() {
    $('#tabla').dataTable({
		"language":DataTables.languaje.es                    
						 });


      $( "select" ).addClass( "form-control" );
      $( "input[type='text']" ).addClass( "form-control" );
      $( "input[type='search']").addClass( "form-control" );
      $( "#dids_length" ).addClass( "form-inline" );
      $( "#dids_filter" ).addClass( "form-inline" );
                

} );
</script>
{% endblock %}


