{% extends '::base.html.twig' %}

{% block title %}Descuentos{% endblock title %}
{% form_theme form '::Forms/bootstrapForm.html.twig' %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Creación de Descuento</h1>

    {{ form(form) }}

		<br />
        <a type="button" class="btn btn-primary" href="{{ path('descuentos') }}">
            Regresar al Listado
        </a>
</div>
{% endblock %}
