{% extends '::base.html.twig' %}

{% block title %}Usuarios{% endblock title %}
{% form_theme edit_form '::Forms/bootstrapForm.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Editar Usuario</h1>
    <a type="button" class="btn btn-primary" href="{{ path('usuario') }}">
        Regresar al Listado
    </a>
	<br><br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Editar datos de Usuario</h3>
        </div>
        <div class="panel-body">
                  {{ form_start(edit_form) }}
                  {% for row in [
                    [ ['uClave'],     ['horario'],      ['tipoUsuario']  ],
                    [ ['uNombre'],    ['uApPaterno'],   ['uApMaterno'] ],
                    [ ['urfc', 2],    ['uFechaNac'],    ['email'] ]
                    ] 
                  %}
                    <div class="row">   
                    {% for field in row %}
                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
                        {% if (attribute(edit_form, field[0]) is defined) %}
                          {{ form_row(attribute(edit_form, field[0])) }}
                        {% endif %}
                      </div>
                    {% endfor %}
                    </div>
                  {% endfor %}
                  {{ form_rest(edit_form) }}
                  {{ form_end(edit_form) }}
        </div>          
      </div> 
</div>
{% endblock %}

{% block javascripts %}
<script>
 $( "#mdr_puntoventabundle_usuario_uFechaNac" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });
 </script>
{% endblock %}
