{% extends '::base.html.twig' %}

{% block title %}Usuarios{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Usuario</h1>

        <a type="button" class="btn btn-primary" href="{{ path('usuario_new') }}">
            Crear usuario
        </a>

        <a type="button" class="btn btn-primary" href="{{ path('usuario_edit', { 'id': entity.uNumero }) }}">
            Editar
        </a>
        <a type="button" class="btn btn-primary" href="{{ path('usuario') }}">
        Regresar al Listado
        </a>
        <a type="button" class="btn btn-primary" href="{{ path('usuario_reset_pass', { 'id': entity.uNumero }) }}">
            Restablecer contraseña ({{ defaultPass }})
        </a>
        <br><br>
       
    <table class="table table-bordered table-striped table-condensed">
        <tbody>
            <tr>
                <th>No. de Empleado:</th>
                <td>{{ entity.uNumero }}</td>
            </tr>
            <tr>
                <th>Usuario:</th>
                <td>{{ entity.uClave }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.uNombre }}</td>
            </tr>
            <tr>
                <th>A. Paterno:</th>
                <td>{{ entity.uApPaterno }}</td>
            </tr>
            <tr>
                <th>A. Materno:</th>
                <td>{{ entity.uApMaterno }}</td>
            </tr>
            <tr>
                <th>RFC:</th>
                <td>{{ entity.urfc }}</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento:</th>
                <td>{{ entity.uFechaNac == '' ? entity.uFechaNac : entity.uFechaNac.date|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Fecha de Alta:</th>
                <td>{{ entity.ufechaalta == '' ? entity.ufechaalta: entity.ufechaalta.date|date("d/m/Y H:i:s")  }}</td>
            </tr>
            <tr>
                <th>Ultima Modificacion:</th>
                <td>{{ entity.ufechamodificacion == '' ? entity.ufechamodificacion : entity.ufechamodificacion.date|date("d/m/Y H:i:s")}}</td>
            </tr>
            <tr>
                <th>La ultima modificación la realizó:</th>
                <td>
                {{ entity.usuarioModificacion }}
                </td>
            </tr>
            <tr>
                <th>Horario:</th>
                <td>
                {{ entity.horario }}
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Activo:</th>
                <td>{{ entity.activo == 1 ? 'Activo' : 'Inactivo' }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
