html, body {
        width: 100%;
        min-height: 100%;
        height: auto !important;
        height: 100%;
}

body {
	background: url(../../../vendor/img/bg_lines_blue.jpg) no-repeat fixed center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar{
	margin-top: 10px;
}

#navmenu_title {
	margin-top: -10px;
}

#navmenu_imglogo {
	width: 18%;
	margin-top: -2px;
}

#at_consultas_atc {
	background: rgba(91, 91, 91, 0.25);
	border-radius: 25px;
}

#atc_cp {
	text-align: center;
	padding: 10px;
}

.blockUI.blockMsg.blockPage {
	background-color: rgba(255, 255, 255, 0.41) !important;
	color: #000000 !important;
	border: black 1px solid !important;
	border-radius: 25px;
}


.select2-container .select2-choice {
	height: 33px !important;
	padding: 3px 0 0 8px !important;
}

#s2id_txt_cliente{
	width: 100%;
}

#txt_pedido,#txt_guia,#txt_autorizacion{
	width: 100%;
}

#s2id_txt_tipocompra {
	width: 80%;
}

#btn_consulta {
	margin-top: 22px;
}

#form {
	display: inline-flex;
	margin-bottom: 15px;
}

#form_Cliente{
	width: 400px !important;
	margin-right: 20px !important;
}

#form_Consultar {
	margin-top: 24px;
	margin-left: 5px;
}
#form_Excel{
	margin-top: 24px;
	margin-left: 15px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 0px !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 8px !important;
}

#tbl_consultas_atc {
	width: 100% !important;	
}

.table-responsive {
	background-color: rgba(255, 255, 255, 0.76);
	padding: 15px;
	border-radius: 20px;
	margin-top: 10px;

}

.head_table {
	background-color: #025399;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
}

.panel-body {
	padding: 8px 8px 15px 0px !important;
}
/*POP UP */
#body_comentarios_pedido,#body_flujo_SAP,#body_tickets_pedido {
	max-height: 210px;
	overflow-x: scroll;
	overflow-x: scroll;
}



/*TABLA DEL FLUJO*/
tr.separaPedido1
{
  background-color: #8DDB6D;
}
tr.separaPedido0
{
  background-color: #859DFB;
}

/*SELECT DE Direcciones*/
#s2id_txt_direccion {
	width: 75%;
	font-size: 12px;
}

/*BTN UPDATE INFO*/
#btn_up_direcciones,#btn_up_sap,#btn_new_address{
	width: 25px;
	height: 25px;
	padding: 0px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 100%;
}

#btn_up_sap {
	float: right;
	margin-top: -4px;
}

/** TABLE ZEBRA COMENTARIOS **/
#tbl_comentarios >thead{
	text-align: center;
}

#tbl_comentarios >tbody> tr:nth-child(even) {
	background: #7CA4D3;
	color: #FFFFFF;
}
#tbl_comentarios >tbody> tr:nth-child(odd) {
	background: #5A5A5A;
	color: #FFFFFF;
}
/** TABLE ZEBRA FLUJO SAP **/
#tbl_flujo_SAP >thead{
	text-align: center;
}

#tbl_flujo_SAP >tbody> tr:nth-child(even) {
	background-color: #5CA040;
	color: #FFFFFF;
}

#tbl_flujo_SAP >tbody> tr:nth-child(odd) {
	background-color: #5A5A5A;
	color: #FFFFFF;
}

/** TABLE ZEBRA TICKETS **/
#tbl_tickets >thead{
	text-align: center;
}

#tbl_tickets >tbody> tr:nth-child(even) {
	background: #3e4359;
	color: #FFFFFF;
}
#tbl_tickets >tbody> tr:nth-child(odd) {
	background: #1f6fc6;
	color: #FFFFFF;
}

/* BTN PARA FEDEX */

.btn-fedex {
  background-color: hsl(269, 74%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#721ecc", endColorstr="#59179f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#721ecc), to(#59179f));
  background-image: -moz-linear-gradient(top, #721ecc, #59179f);
  background-image: -ms-linear-gradient(top, #721ecc, #59179f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #721ecc), color-stop(100%, #59179f));
  background-image: -webkit-linear-gradient(top, #721ecc, #59179f);
  background-image: -o-linear-gradient(top, #721ecc, #59179f);
  background-image: linear-gradient(#721ecc, #59179f);
  border-color: #59179f #59179f hsl(269, 74%, 33.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}