body#resumenVenta
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    max-width: 950px;
    padding: 10px 22px;
    width: 950px;
}
.panel
{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
}
table
{
	border-collapse: collapse;
}
td,th
{
	border: 1px solid #BFBFBF;
}

.head_table {
	background-color: #025399;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	border-top: 12px;
}

#tbl_detalle_compra > .head_table > tr >th {
border: 1px solid #000000;
}

#tbl_detalle_compra > tbody > tr > td, #tbl_detalle_compra > thead > tr > th {
	padding: 8px;
}