{% extends '::base.html.twig' %}

{% block title %}Página no encontrada{% endblock title %}

{% block body %}
	<br/>
	<div class="jumbotron">
		<h1>Error: {{ status_code }} <span class="glyphicon glyphicon-question-sign"></span></h1>
		<p>Lo sentimos la página que buscas no existe.</p>
		<p><a href="{{ path('menu') }}" class="btn btn-primary btn-lg" role="button">Ir a Inicio</a></p>
	</div>
	<h1></h1>
	
{% endblock body %}