{% extends '::base.html.twig' %}

{% block title %}Sin autorización{% endblock title %}

{% block body %}
	<br/>
	<div class="jumbotron">
		<h1>Error: {{ status_code }} <span class="glyphicon glyphicon-ban-circle"></span></h1>
		<p>Lo sentimos no cuentas con autorización para ver esta sección.</p>
		<p><a href="{{ path('menu') }}" class="btn btn-primary btn-lg" role="button">Ir a Inicio</a></p>
	</div>
	<h1></h1>
	
{% endblock body %}