{% extends '::base.html.twig' %}

{% block title %}Comentarios - Pedido{% endblock title %}

{% form_theme searchForm '::Forms/bootstrapForm.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrcobranza/css/style_reportes.css') }}">
{% endblock %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Comentarios - Pedido</h1>
	{{ form(searchForm) }}
    <table id="tabla" class="table table-bordered table-striped table-condensed">
        <thead class="head_table">
            <tr>
				<th>Fecha</th>
                <th>Tipo de LLamada</th>
				<th>SubTipo de LLamada</th>
				<th>Pedido</th>
				<th>MTotal</th>
				<th>Capturado Por</th>
				<th>Usuario</th>
				<th>Comentario</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
				<td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.tipoLlamada.tipoLlamada }}</td>
				<td>{{ entity.tipoLlamada }}</td>
				<td>{{ entity.pedido }}</td>
				<td>{{ entity.pedido.totalPago }}</td>				
				<td>{{ entity.pedido.usuario }}</td>
				<td>{{ entity.usuario }}</td>
				<td>{{ entity.comentario }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>	
    {% endblock %}
	
	
	{% block javascripts %}
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->
<script type="text/javascript">  
  $(document).ready(function() {
    $('#tabla').dataTable({
		"language":DataTables.languaje.es                    
			   			});


		  $( "select" ).addClass( "form-control" );
		  $( "input[type='text']" ).addClass( "form-control" );
		  $( "input[type='search']").addClass( "form-control" );
		  $( "#dids_length" ).addClass( "form-inline" );
		  $( "#dids_filter" ).addClass( "form-inline" );
					
	
	} );
	
	$( "#form_fechaInicio" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    $( "#form_fechaFin" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    //validar fechas	
	function vd_date(){
		
		var date1 = createdate($('#form_fechaInicio').val());
		var date2 = createdate($('#form_fechaFin').val());

		if (date1 <= date2) {
			$('#form_Buscar').attr("disabled", false);			
		}else if (date1 > date2){
			alert("La fecha de fin no puede ser una fecha anterior a la fecha de Inicio");
			$('#form_Buscar').attr("disabled", true);	
		}

	}
	</script>
	{% endblock %}


