{% extends '::base.html.twig' %}

{% block title %}DIDs{% endblock title %}
{% form_theme form '::Forms/bootstrapForm.html.twig' %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Creación de Did</h1>
    {{ form(form) }}
	     <br />
        <a type="button" class="btn btn-primary" href="{{ path('dids', {'canalDistribucion':canal }) }}">
            Regresar al Listado
        </a>
</div>
{% endblock %}
