{% extends '::base.html.twig' %}

{% block title %}Administración - Especialidades{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Especialidades</h1>
   <ul>
        <li>
            <a href="{{ path('especialidades_new') }}">
                Nueva Especialidad
            </a>
        </li>
    </ul>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('especialidades_edit', { 'id': entity.idEspecialidad }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
    {% endblock %}
