{% extends '::base.html.twig' %}

{% block title %}Administración - Especialidades{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Especialidades</h1>

        <ul class="record_actions">
    <li>
        <a href="{{ path('especialidades') }}">
            Regresar al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('especialidades_edit', { 'id': entity.idEspecialidad }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    <table class="table table-bordered table-striped table-condensed">
        <tbody>
            <tr>
                <th>Descripción</th>
            </tr>
			<tr>
			     <td>{{ entity.descripcion }}</td>
			</tr>				
        </tbody>
    </table>
</div>
{% endblock %}
