#preview div {
  margin-top: 4px;
  margin-bottom: 4px;
}
table.preview
{
  width: 100%;
}
table.preview tr td, table.preview tr th
{
  border: 1px solid;
  padding: 2px 12px;
}
#flujoPedido>div
{
  width: 90%;
}
#flujoPedidoBody table.preview
{
  font-size: 11px;
}
tr.separaPedido1
{
  background-color: #F0F8FF;
}
tr.separaPedido0
{
  background-color: #FAEBD7;
}