{% extends "::base.html.twig" %}

{% block title %}MDRPuntoVentaBundle:Clientes:getDireccionesByCliente{% endblock %}

{% block body %}
<h1>Welcome to the Clientes:getDireccionesByCliente page</h1>
{% endblock %}
