{% extends '::base.html.twig' %}

{% block title %}Clientes{% endblock title %}
{% form_theme edit_form '::Forms/bootstrapForm.html.twig' %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Editar Cliente</h1>

    {{ form(edit_form) }}
	<div class="form-group" >	
        <a type="button" style="float: left;margin-right: 14px;margin-top: 7px;" class="btn btn-primary" href="{{ path('clientes') }}">
            Regresar al Listado
        </a>

	{{ form(delete_form) }}
	</div>		
</div>
{% endblock %}
{% block javascripts %}
    <script>

    $( "#mdr_puntoventabundle_clientes_fechaNacimiento" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    </script>
{% endblock %}