{% extends '::base.html.twig' %}

{% block title %}Clientes{% endblock title %}

{% form_theme edit_form '::Forms/bootstrapForm.html.twig' %}

{% block body -%}
{{ form(edit_form) }}
{% endblock %}



{% block javascripts %}
    <script>

    $( "#mdr_puntoventabundle_clientes_fechaNacimiento" ).datepicker({
      format:   "dd/mm/yyyy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050",
    });

    </script>
{% endblock %}