{% extends '::base.html.twig' %}

{% block title %}Clientes{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
{% endblock %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Clientes</h1>

            <a type="button" class="btn btn-primary" href="{{ path('clientes_new') }}">
                Crear Nuevo Cliente
            </a>
        <br /><br />
    <table id="clientes" class="table table-bordered table-striped table-condensed">
        <thead class="head_table">
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidoPaterno }}</td>
                <td>{{ entity.apellidoMaterno }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.sexo == 1 ? 'M' : 'F'}}</td>
                <td>
                        <a type="button" class="btn btn-primary" href="{{ path('clientes_edit', { 'id': entity.idCliente }) }}">Editar</a> 

                        <a type="button" class="btn btn-primary" href="{{ path('direcciones', {'idCliente': entity.idCliente }) }}">Ver Direcciones</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	</div>
    {% endblock %}
	
	{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->
<script type="text/javascript">  
  $(document).ready(function() {
    $('#clientes').dataTable({
		"language":DataTables.languaje.es
				   			});


      $( "select" ).addClass( "form-control" );
      $( "input[type='text']" ).addClass( "form-control" );
      $( "input[type='search']").addClass( "form-control" );
      $( "#clientes_length" ).addClass( "form-inline" );
      $( "#clientes_filter" ).addClass( "form-inline" );

} );
</script>
{% endblock %}


