{% extends '::base.html.twig' %}

{% block title %}Canales de Distribución{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Canales de Distribución</h1>

    <table id="tabla" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Seleccione una opción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dids', {'canalDistribucion':entity.descripcion }) }}">{{ entity.descripcion }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
    {% endblock %}
		{% block javascripts %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!--TABLE API -->
	<script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
	<!--**********-->
<script type="text/javascript">  
  $(document).ready(function() {
    $('#tabla').dataTable({
		"language":DataTables.languaje.es                    
			   			});


      $( "select" ).addClass( "form-control" );
      $( "input[type='text']" ).addClass( "form-control" );
      $( "input[type='search']").addClass( "form-control" );
      $( "#dids_length" ).addClass( "form-inline" );
      $( "#dids_filter" ).addClass( "form-inline" );
                

} );
</script>
{% endblock %}
