<script type="text/template" id='datosClienteTemplate'>
	<% var fechaNac = '';
	if(fechaNacimiento != null){ fechaNac = fechaNacimiento.date.substr(0,10); } %>
	<div class="row">
		<div class="col-xs-3">Nombre</div>
		<div class="col-xs-3">Apellido Paterno</div>
		<div class="col-xs-3">Apellido Materno</div>
	</div>
	<div class="row">
		<div class="col-xs-3"><b><%= nombre %></b></div>
		<div class="col-xs-3"><b><%= apellidoPaterno %></b></div>
		<div class="col-xs-3"><b><%= apellidoMaterno %></b></div>
	</div>
	<div class="row">&nbsp</div>
	<div class="row">
		<div class="col-xs-3">Genero</div>
		<div class="col-xs-3">Fecha de Nacimiento</div>
		<div class="col-xs-3">Email</div>
	</div>
	<div class="row">
		<div class="col-xs-3"><b><%= sexoString %></b></div>
		<div class="col-xs-3"><b><%= fechaNac %></b></div>
		<div class="col-xs-3"><b><%= email %></b></div>
	</div>
</script>

<script type="text/template" id='datosDireccionTemplate'>
	<div class="row">
		<div class="col-xs-3">País</div>
		<div class="col-xs-3">Estado</div>
		<div class="col-xs-3">Municipio</div>
	</div>
	<div class="row">
		<div class="col-xs-3"><b><%= pais %></b></div>
		<div class="col-xs-3"><b><%= estado %></b></div>
		<div class="col-xs-3"><b><%= municipio %></b></div>
	</div>
	<div class="row">&nbsp</div>
	<div class="row">
		<div class="col-xs-3">Colonia</div>
		<div class="col-xs-3">Calle, No. Int y Ext</div>
		<div class="col-xs-3">Entre Calles</div>
	</div>
	<div class="row">
		<div class="col-xs-3"><b><%= colonia %></b></div>
		<div class="col-xs-3"><b><%= calle %>, <%= noInt %>, <%= noExt %></b></div>
		<div class="col-xs-3"><b><%= entreCalles %></b></div>
	</div>
	<div class="row">&nbsp</div>
	<div class="row">
		<div class="col-xs-6">Referencia</div>
		<div class="col-xs-3">CP</div>
	</div>
	<div class="row">
		<div class="col-xs-6"><b><%= referencia %></b></div>
		<div class="col-xs-3"><b><%= cp %></b></div>
	</div>
	<div class="row">&nbsp</div>
	<div class="row">
		<div class="col-xs-3">Tel. Casa</div>
		<div class="col-xs-3">Tel. Oficina</div>
		<div class="col-xs-3">Tel. Celular</div>
	</div>
	<div class="row">
		<div class="col-xs-3"><b><%= telCasa %></b></div>
		<div class="col-xs-3"><b><%= telOficina %></b></div>
		<div class="col-xs-3"><b><%= telCel %></b></div>
	</div>
</script>