{% extends '::base.html.twig' %}

{% block title %}Validar datos TDC{% endblock title %}

{% form_theme formPagoTarjeta with ['::Forms/bootstrapForm.html.twig', '::Forms/dateMonthYear.html.twig'] %}
{% form_theme formCancelaPedido with ['::Forms/bootstrapForm.html.twig'] %}

{% block body %}
<div class="container generalContainer" id="pf_opmenu">
	{{ form_start(formPagoTarjeta) }}
	<div id="pagoTarjetaPanel" class="panel panel-info">
		<div class="panel-heading">Datos de tarjeta de la venta: {{ pagoTarjeta.pedido.idPedido }}</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						{% for field in ['esTitular', 'titular', 'posFechar', 'fechaCobro', 'terminal', 'promocion']
						    if (attribute(formPagoTarjeta, field) is defined) %}
						    {{ form_row(attribute(formPagoTarjeta, field)) }}
						{% endfor %}
					</div>
					<div class="col-xs-6">
						{% for field in ['numeroTarjeta', 'vigencia', 'codigoSeguridad', 'tipoTarjeta', 'banco',]
						    if (attribute(formPagoTarjeta, field) is defined) %}
						    {{ form_row(attribute(formPagoTarjeta, field)) }}
						{% endfor %}
						<br/>
						<div class="row">
							<div class="col-xs-4">
							    {{ form_row(attribute(formPagoTarjeta, 'submit')) }}
							</div>
							<div class="col-xs-4">
							    
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_rest(formPagoTarjeta) }}
	{{ form_end(formPagoTarjeta) }}
</div>

<div class="modal fade modal_base" id="cancelaPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span></button>
				<h4 class="modal-title" id="myModalLabel">Cancelación venta</h4>
			</div>
			<div class="modal-body" id="cancelaBody">
				
				{{ form(formCancelaPedido) }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/util.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/datepicker/js/bootstrap-datepicker.js') }}" /></script>

<script type="text/javascript">
	var myForm = null;
	var cmbPosFechar = null;
	var inputVigenciaMes = null;
	var inputVigenciaAnio = null;
	var cmbTipoTajeta = null;
	var cmbTerminal = null;
	var cmbBanco = null;
	var cmbPromocion = null;
	var inputNumeroTarjeta = null;
	var inputFechaCobro = null;
	var btnCancelar = null;

	var fechaMin = new Date();
	var fechaMax = new Date();
	var maxDiasPosfecha = {{ maxDiasPosfecha }};

	//URLS
	var urls = {};
	urls.tarjetas = urls.tarjetas || {};
	urls.tarjetas.validar = "{{ path('tarjetas_validar') }}";

	document.addEventListener("DOMContentLoaded", function(){
		myForm = document.getElementsByName("pagotarjeta")[0];
		inputVigenciaMes = document.getElementById("pagotarjeta_vigencia_month");
		inputVigenciaAnio = document.getElementById("pagotarjeta_vigencia_year");
		cmbTipoTajeta = document.getElementById("pagotarjeta_tipoTarjeta");
		cmbTerminal = document.getElementById("pagotarjeta_terminal");
		cmbBanco = document.getElementById("pagotarjeta_banco");
		cmbPromocion = document.getElementById("pagotarjeta_promocion");
		cmbPosFechar = document.getElementById("pagotarjeta_posFechar");
		inputNumeroTarjeta = document.getElementById("pagotarjeta_numeroTarjeta");
		inputFechaCobro = document.getElementById("pagotarjeta_fechaCobro");
		btnCancelar = document.getElementById("cancelarPedido");
		
		inputNumeroTarjeta.addEventListener("change", validarTarjeta);
		fireEvent(inputNumeroTarjeta, "change");
		myForm.addEventListener("submit", preEnvio, false);
		cmbPosFechar.addEventListener("change", posFecharChange);
		btnCancelar.addEventListener("click", mostrarCancelar, false);

		fechaMax.setDate(fechaMin.getDate() + maxDiasPosfecha);
		fechaMin.setHours(0);
		fechaMin.setMinutes(0);
		fechaMin.setSeconds(0);
		fechaMin.setMilliseconds(0);
		fechaMax.setHours(0);
		fechaMax.setMinutes(0);
		fechaMax.setSeconds(0);
		fechaMax.setMilliseconds(0);

		$(inputFechaCobro).datepicker({
				format: 		"dd/mm/yyyy",
				orientation: 	"top left",
				onRender: 		function(date){
					return (date.valueOf() >= fechaMin.getTime() && date.valueOf() <= fechaMax.getTime()) ? '' : 'disabled';
				}
			}).on('changeDate', function(ev){
				if (ev.date.valueOf() < fechaMin.getTime())
				{
					$(inputFechaCobro).datepicker('setValue', fechaMin);
				}
			});
		inputFechaCobro.setAttribute("disabled", "");
	});

	function preEnvio(evt)
	{
		if(!validarDatosTC())
		{
			evt.preventDefault();
			return false;
		}
		cmbPosFechar.removeAttribute("disabled","");
		inputFechaCobro.removeAttribute("disabled","");
		cmbTerminal.removeAttribute("disabled","");

		return true;
	}

	function posFecharChange()
	{
		if(cmbPosFechar.value == '1')
		{
			inputFechaCobro.removeAttribute('disabled');
		}
		else
		{
			inputFechaCobro.setAttribute('disabled', '');
		}
	}

	function mostrarCancelar()
	{
		$("#cancelaPedido").modal("show");
	}

	function validarVigenciaTDC()
	{
	  var fechaHoy = new Date();
	  fechaHoy = new Date(fechaHoy.getFullYear(), fechaHoy.getMonth(), 1);
	  return fechaHoy < getVigencia();
	}

	function getVigencia()
	{
	  return new Date(inputVigenciaAnio.value, parseInt(inputVigenciaMes.value) - 1);
	}
	
	function validarDatosTC()
	{
		if(cmbTipoTajeta.value <= 0)
		{
			alert('Indicar tipo de tarjeta');
			return false;
		}
		if(cmbBanco.value <= 0)
		{
			alert('Indicar banco');
			return false;
		}
		if(cmbTerminal.value <= 0)
		{
			alert('Indicar terminal');
			return false;
		}
		if(cmbPromocion.value <= 0)
		{
			alert('Indicar promoción');
			return false;
		}
		if(!validarVigenciaTDC())
		{
			alert("<b>La vigencia no es valida</b>");
			return false;
		}
		return true;
	}

	function resetDatosTajeta()
	{
		cmbBanco.value = 0;
		cmbTerminal.value = 0;
		cmbTipoTajeta.value = 0;
		cmbPosFechar.removeAttribute("disabled","");
	}

	function validarTarjeta()
	{
		var tc = this.value;
		$.post(urls.tarjetas.validar, {tc: tc}, function(data, textStatus, xhr) {
			resetDatosTajeta();
			if(data.code == 1)
			{
				if(data.banco != null)
				{
					cmbBanco.value = data.banco.idBanco;
					if(data.banco.idBanco == 56)
					{
						cmbPosFechar.value = 1;
						cmbPosFechar.setAttribute("disabled","");
					}
					else
					{
						cmbPosFechar.removeAttribute("disabled","");
					}
				}
				if(data.terminal != null)
				{
					cmbTerminal.value = data.terminal.idTerminal;
				}
				if(data.tipoTarjeta != null)
				{
					cmbTipoTajeta.value = data.tipoTarjeta.idTipoTarjeta;
				}
				clearSelect(cmbPromocion);
				addOption("", "", cmbPromocion);
				promociones = data.promociones;
				if(!promociones)
					promociones = [];
				for (var i = 0; i < promociones.length; i++) {
					addOption(promociones[i].toString, promociones[i].idPromocion, cmbPromocion);
				};
				cmbPromocion.value = promociones[0].idPromocion;
			}
			else
			{
				alert(data.message);
			}
		});
	}
</script>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('vendor/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}