{% extends '::base.html.twig' %} 
{% form_theme form_fl _self %} 

{% block title %}MDR - FLASH{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdrcobranza/css/style.css') }}">
		<style>
			div#form {
				display: -moz-groupbox;
				width: 100%;
			}
			div#form > div {
				margin: 0px 25px 10px;
			}
			div#form > div>label {
				float: left;
			}
		</style>
			
{% endblock %}
{% block body %}

<div class="container" style="width:97%; margin-top:15px;">
	<div class="row">	
	    <div class="col-xs-8" style="text-align: center;">

		    <div class="panel panel-primary">
		    	<div class="panel-heading" style="text-align: -moz-left; padding: 2px 16px;"><h2 style="font-weight: 600;">FLASH</h2></div>
				  	<div class="panel-body">
				    	<div id="bt_opmenu">					
							{{form(form_fl)}}
							<div>
								<button type="button" class="btn btn-primary" onclick="saveCliente()">Guardar</button>
								<button type="button" class="btn btn-success" onclick="nuevoCliente()">Nuevo</button>
							</div>	
						</div>	
					</div>
			</div>
		</div>
		<div class="col-xs-4" id="spc_cliente">
			<div class="panel panel-success">
				<div class="panel-heading" style="text-align: -moz-left; padding: 2px 16px;"><h4>Clientes Registrados</h4></div>
					<div class="panel-body">
				    	<select class="form-control" size="25" id="sls_clientes" onchange="showcliente()"></select>
					</div>
			</div>
		<div>
	</div>	
</div>		
			 


{% endblock %}
{% block javascripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function(){
				var conexionNuxibaOpen = localStorage.getItem("conexionNuxibaOpen");
			        if(conexionNuxibaOpen != 1)
			        {
			            window.open("{{ path('nuxiba_conexion') }}","conexionNuxiba");
			        }
		addEvent(window, 'storage', storageEvent);	        
		storageEvents.add('nuxibaRetCall', callReturned);
		urls.cliente = urls.cliente || {};
		urls.cliente.clientesByTelefono = "{{ path('clientes_by_telefono', {telefono:'_numero_'}) }}";
		nuevoCliente();		
		$('#form_telefono_1').val("");
		$('#form_telefono_1').removeAttr('disabled','disabled');  

        });

        var existecliente = 0;
        var DNIS = null;

		function saveCliente(){
			var nombre = $('#form_nombre').val();
			var app = $('#form_apellidoPaterno').val();
			var apm = $('#form_apellidoMaterno').val();
			var sex = $('#form_sexo').val();
			var tel1 = $('#form_telefono_1').val();
			var tel2 = $('#form_telefono_2').val();
			var coments = $('#form_Comentarios').val();

			if(existecliente == 1){
				var slscliente = $('#sls_clientes').val();
			}else{
				var slscliente = "";
			}
			

			if(nombre && app && sex && tel1 && coments){
				
				if(tel1.length > 9){
					if(tel2){

						if(tel2.length > 9){

							$('#alert-answare').alert('close');
							showLoading("Guardando Cliente.");
							crearCliente(nombre,app,apm,sex,tel1,slscliente,tel2,coments,function(respuesta){
								console.debug(respuesta);
								if(respuesta.estatus == 1){
									showAlert("success",respuesta.mensaje);
									clearall(); 
									hideLoading();
								}else{
									showAlert("danger",respuesta.mensaje);
									hideLoading();
								}
							});

						}else{
							alert("El número telefónico <b>ADICIONAL</b> debe ser a 10 dígitos, 2 primeros con clave lada y 8 números naturales.");
						}

					}else{
							$('#alert-answare').alert('close');
							showLoading("Guardando Cliente.");
							crearCliente(nombre,app,apm,sex,tel1,slscliente,tel2,coments,function(respuesta){
								console.debug(respuesta);
								if(respuesta.estatus == 1){
									showAlert("success",respuesta.mensaje);
									clearall(); 
									hideLoading();
								}else{
									showAlert("danger",respuesta.mensaje);
									hideLoading();
								}
							});
					}
					
				}else{
					alert("El número telefónico debe ser a 10 dígitos, 2 primeros con clave lada y 8 números naturales.");
					$('#form_telefono_1').removeAttr('disabled','disabled');  
				}			

			}else{
				if(!nombre){
					alert("Indique el nombre del cliente.");
				}else if(!app){
					alert("Indique el apellido paterno.");
				}else if(!sex){
					alert("Indique el sexo, masculino o femenino.");
				}else if(!tel1){
					alert("Indique el número telefónico a 10 dígitos.");
				}else if(!apm){
					alert("Indique el apellido materno.");
				}else if(!coments){
					alert("Indique el producto por el cual esta interesado el cliente.");
				}
			}			
		}

		function crearCliente(nombre,app,apm,sex,tel,slscliente,tel2,coments,callback){
			$.post("../ClientesFlash",{
		          nombre:nombre,
		          app:app,
		          apm:apm,
		          sex:sex,
		          tel:tel,
		          slscliente:slscliente,
		          DNIS:DNIS,
		          tel2:tel2,
		          coments:coments
		      },function(respuesta){
		          callback(respuesta);
		        });
		}

		function nuevoCliente(){
			$('#form_nombre').val("");
			$('#form_apellidoPaterno').val("");
			$('#form_apellidoMaterno').val("");
			$('#form_telefono_2').val("");
			$('#form_Comentarios').val("");
			$('#form_sexo').prop('selectedIndex',0);

			$('#form_nombre').removeAttr('disabled','disabled');
			$('#form_apellidoPaterno').removeAttr('disabled','disabled');
			$('#form_apellidoMaterno').removeAttr('disabled','disabled');
			$('#form_sexo').removeAttr('disabled','disabled');
			$('#form_telefono_1').removeAttr('disabled','disabled');

			$("#sls_clientes option").attr("selected", ""); 
			existecliente=0;
		}

		function clearall(){
			$('#form_nombre').val("");
			$('#form_apellidoPaterno').val("");
			$('#form_apellidoMaterno').val("");
			$('#form_telefono_1').val("");
			$('#form_telefono_2').val("");
			$('#form_Comentarios').val("");
			$('#form_sexo').prop('selectedIndex',0);

			$('#form_nombre').removeAttr('disabled','disabled');
			$('#form_apellidoPaterno').removeAttr('disabled','disabled');
			$('#form_apellidoMaterno').removeAttr('disabled','disabled');
			$('#form_sexo').removeAttr('disabled','disabled');
			$('#form_telefono_1').removeAttr('disabled','disabled');
			$("#sls_clientes option").remove();
			$("#sls_clientes option").attr("selected", ""); 
			existecliente=0;
		}

		 		
		 		function callReturned(event)
				{
					if(event.newValue.length > 0)
					{
						$('#alert-answare').alert('close');
						data = JSON.parse(event.newValue);
						data.phoneNumber = data.phoneNumber.trim();
						DNIS = data.DNIS;
						$('#form_telefono_1').val(data.phoneNumber.substring(0, 10));
						getClientesByTelefono(data.phoneNumber.substring(0, 10));

					}
				}

		var clientes = new Array();
				function getClientesByTelefono(numero)
				{
					var url = urls.cliente.clientesByTelefono.replace("_numero_", numero);
					showLoading("Cargando clientes");
					$.get(url, function(data) {
						console.debug(data);
						if(data.code == 1)
						{
							
							clientes = data.entities;
							if(clientes.length > 0){
								$('option','#sls_clientes').remove();
								for(var x=0;x<=clientes.length-1;x++){
									$('#sls_clientes').append('<option value='+clientes[x].id+'>'+clientes[x].toString+'</option>');
								}
							}else if(clientes.length <= 0){
								$('option','#sls_clientes').remove();
							}

						}
					}).always(function(){
						hideLoading();
					});
				}

				function showcliente(){
					var id = $('#sls_clientes').val();
					existecliente = 1;
					for(var x=0;x<=clientes.length-1;x++){
						if(clientes[x].id == id){
							$('#form_nombre').val(clientes[x].nombre);
							$('#form_apellidoPaterno').val(clientes[x].apellidoPaterno);
							$('#form_apellidoMaterno').val(clientes[x].apellidoMaterno);
							$('#form_sexo').val(clientes[x].sexo);
							$('#form_nombre').attr('disabled','disabled');
							$('#form_apellidoPaterno').attr('disabled','disabled');
							$('#form_apellidoMaterno').attr('disabled','disabled');
							$('#form_sexo').attr('disabled','disabled');
							$('#form_telefono_1').attr('disabled','disabled');
						}
					}
				}
				
	</script>	

{% endblock %}