<% 
	function HTMLJerarquia(item, visible, editable)
	{
		for(var i=0; i < item.menus.length; i++)
		{

			var menu = item.menus[i];
		%>
			<li data-idMenu="<%= menu.idMenu %>" <%= !visible ? 'style="display:none;"' : '' %>>
				<span class="minus"><i class="glyphicon"></i>&nbsp;<%= menu.nombre %></span>
				<a href="<%= getUrlMenu(menu.idMenu, editable) %>">
					<span>&nbsp;<i class="glyphicon glyphicon-new-window"></i></span>
				</a>
			<%
	    	if(editable) {
			%>
				<span class="editMenu"><i class="glyphicon glyphicon-pencil"></i></span>
				<span class="addMenu"><i class="glyphicon glyphicon-plus"></i></span>
	    	<%
	    	}
			if(menu.menus !== undefined)
			{
				if(menu.menus.length > 0)
				{
					%>
					<ul><% HTMLJerarquia(menu, false, editable); %></ul>
					<%
				}
			}
			%>
			</li>
			<%
		}
	}
%>
<div class="tree well">
    <ul>
    	<%
    	if(editable) {
		%>
    	<li data-idMenu="0">
    		<span class="addMenu"><i class="glyphicon glyphicon-plus"></i></span>
    	</li>
    	<%
    	}
    	%>
    	<li>
    		<input type="text" id="buscador" onKeyUp="buscarMenu()" />
		</li>
        <% HTMLJerarquia(item, true, editable); %>
    </ul>
</div>