<% 
	function HTMLJerarquia(item, visible, editable)
	{
		for(var i=0; i < item.menus.length; i++)
		{
			var menu = item.menus[i];
			if(menu.menus === undefined)
			{
				menu.menus = [];
			}
		%>
			<li data-idMenu="<%= menu.idMenu %>">
				<a href="javascript:void(0);">
					<i class="fa fa-circle-o"></i>
					<span onclick="javascript:goUrl(event, '<%= getUrlMenu(menu.idMenu, true) %>');"><%= menu.nombre %></span>
					<%
					if(menu.menus.length > 0)
					{
					%>
					<i class="fa fa-angle-left pull-right"></i>
					<%
					}
					%>
				</a>
			<%
			if(menu.menus.length > 0)
			{
				%>
				<ul class="treeview-menu"><% HTMLJerarquia(menu, false, editable); %></ul>
				<%
			}
			%>
			</li>
			<%
		}
	}
%>
<li>
	<form action="javascript:void()" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" id="buscador" class="form-control" onKeyUp="buscarMenu()" placeholder="Buscar...">
			<span class="input-group-btn">
				<button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</form>
</li>
<% HTMLJerarquia(item, true, editable); %>