<li id="archivo-<%= idArchivo %>" class="box">
<%
	if(icono == '')
	{
	%>
	<span class="mailbox-attachment-icon has-img"><img src="<%= data %>" alt="Attachment"></span>
	<%
	} else {
	%>
	<span class="mailbox-attachment-icon"><i class="<%= icono %>"></i></span>
	<%	
	}
%>
	<div class="mailbox-attachment-info">
		<a href="#" class="mailbox-attachment-name">{#<i class="fa fa-paperclip"></i>#} <%= nombre %></a>
		<span class="mailbox-attachment-size">
			<%= accounting.format(tamanio, 0, ',', '.') %> KB
			<span class="btn btn-default btn-xs pull-right">
				<i class="iconStatus fa fa-spinner"></i>
			</span>
			<a href="javascript:borrarArchivo(<%= idArchivo %>)" class="btn btn-default btn-xs pull-right">
				<i class="fa fa-trash-o"></i>
			</a>
			{#<a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>#}
		</span>
	</div>
</li>