<%
var likeIcono = '';
if(calificacion == 1)
{
	likeIcono = 'fa-thumbs-up text-green';
} else {
	likeIcono = 'fa-thumbs-down text-red';
}
%>
<img src="{{ asset('vendor/Avatars') }}/<%= usuario.avatar.URL %>" alt="user image" class="">
<p class="message">
		<small class="text-muted pull-right">
			<i class="fa fa-clock-o"></i> <%= formatDate(fecha, 'dd/MM/yyyy HH:mm') %> <i class="fa <%= likeIcono %>"></i>
			&nbsp;&nbsp;&nbsp;
			<% if(editable || isAdmin) { %>
			<% if(editable) { %>
			<i class="fa fa-pencil editarComentario"></i>
			<% } %>
			&nbsp;<i class="fa fa-trash-o borrarComentario"></i>
			<% } %>
		</small>
	<a href="javascript:void()" class="name">
		<%= usuario.name %>
	</a>
	<%= texto %>
</p>