<div class="box box-success">
	<div class="box-header">
		<i class="fa fa-comments-o"></i>
		<h3 class="box-title">Comentarios</h3>
		<span class="text-muted pull-right">
			<span class="contLikes"></span> <i class="fa fa-thumbs-o-up text-green"></i>
			<i class="fa fa-thumbs-o-down text-red"></i> <span class="contDisLikes"></span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
	</div>
	<div class="box-body chat" id="comentariosContainer"></div>
	<div class="box-footer box">
		<textarea class="form-control" id="textoComentario" rows="3" maxlength="250" placeholder="Escribe un comentario"></textarea>
		<div class="input-group">
			<div class="btn-group" data-toggle="btn-toggle" >
				<button type="button" class="btn btn-default btn-sm btnLike"><i class="fa fa-thumbs-o-up text-green"></i></button>
				<button type="button" class="btn btn-default btn-sm btnDisLike"><i class="fa fa-thumbs-o-down text-red"></i></button>
			</div>
			<div class="input-group-btn">
				<button class="btn btn-success" id="btnNuevoComentario"><i class="fa fa-check"></i></button> 
				<button class="btn btn-primary" id="btnGuardaComentario" style="display:none;"><i class="fa fa-check"></i></button> 
				<button class="btn btn-danger" id="btnCancelarComentario" style="display:none;"><i class="fa fa-times"></i></button>
			</div>
		</div>
		<div class="overlay" style="display:none;"><i class="fa fa-refresh fa-spin"></i></div>
	</div>
</div>