{#<div class="jumbotron">
	<div class="container">
		<h1>Página no encontrada</h1>
		<p>Lo sentimos la página que buscas no se encuentra o está fue eliminada.</p>
	</div>
</div>#}

<div class="pad margin no-print">
	<div class="callout callout-info" style="margin-bottom: 0!important;">												
		<h1><i class="fa fa-info"></i> Página no encontrada</h1>
		Lo sentimos la página que buscas no se encuentra o está fue eliminada.
	</div>
</div>