{% extends '::base.html.twig' %}

{% block title %}Marcación{% endblock title %}

{% block body %}
<div class="container generalContainer" id="pf_opmenu">
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>ID</th>
				<th>Oficina Ventas</th>
				<th>Usuario</th>
				<th>Telefono</th>
				<th>Telefono 2</th>
				<th>Producto</th>
				<th>Fecha</th>
				<th>Cliente</th>
				<th>Comentarios</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td>{{ entity.idAsigna }}</td>
				<td>{{ entity.oficinaVentas.descripcion }}</td>
				<td>{{ entity.usuario }}</td>
				<td>{{ entity.telefono }}</td>
				<td>{{ entity.telefono2 }}</td>
				<td>{{ entity.producto }}</td>
				<td>{{ entity.fecha |date('Y/m/d') }}</td>
				<td>{{ entity.nombreCliente }}</td>
				<td>{{ entity.comentarios }}</td>
				<td><a class="btn btn-primary" href="{{ path('pedidos_new', {canal: entity.canalDistribucion.claveSAP}) }}?AId={{ entity.idAsigna }}">Tratar</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body %}
