{% extends '::base.html.twig' %}

{% form_theme form '::Forms/bootstrapForm.html.twig' %}

{% block title %}Marcación{% endblock title %}

{% block body %}
<div class="container generalContainer" id="pf_opmenu">
	{{ form_start(form) }}
	<div class="row">
		<div class="col-xs-5">
			{{ form_row(attribute(form, 'archivo')) }}
		</div>
		<div class="col-xs-4">
			{{ form_row(attribute(form, 'oficinaVentas')) }}
		</div>
		<div class="col-xs-3">
			<br/>
			{{ form_row(attribute(form, 'Enviar')) }}
		</div>
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
</div>

<div class="container generalContainer" id="pf_opmenu">
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>ID</th>
				<th>Oficina Ventas</th>
				<th>Usuario</th>
				<th>Telefono</th>
				<th>Telefono 2</th>
				<th>Producto</th>
				<th>Fecha</th>
				<th>Cliente</th>
				<th>Comentarios</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
			<tr>
				<td>{{ entity.idAsigna }}</td>
				<td>{{ entity.oficinaVentas.descripcion }}</td>
				<td>{{ entity.usuario }}</td>
				<td>{{ entity.telefono }}</td>
				<td>{{ entity.telefono2 }}</td>
				<td>{{ entity.producto }}</td>
				<td>{{ entity.fecha |date('d/m/Y h:i') }}</td>
				<td>{{ entity.nombreCliente }}</td>
				<td>{{ entity.comentarios }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body %}
