{% extends '::base.html.twig' %}

{% block title %}Panel de Control de Fraudes{% endblock %}

{% block stylesheets %}
<style>
	#regla_title {
	    font-size: 15px !important;
	    font-weight: 600;
	    background-color: rgba(128, 128, 128, 0.27);
	}
	#view_ln {
    	margin-bottom: 10px;
	}
</style>
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">
		



    <div class="at_crcobranza">

      	<div class="panel panel-primary">
      			<div class="panel-heading"><h4>Reglas contra fraude</h4></div>
				<div class="panel-body">

						<div class="row">
							{% for entity in entities %}
								<div class="col-xs-6 col-md-4">
									<div class="col-md-12" id="regla_title">
										{{ entity.Descripcion }}
									</div>
									<div class="col-md-12" style="margin: 5px 0px 3px;">
										{% if entity.Valor|length > 0 %}
											{% if entity.idReglas == 7 %}
												<div class="input-group">
											      <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
											      <input type="text" class="form-control" value="{{ entity.Valor }}" id="exampleInputAmount" placeholder="Cantidad de productos" onchange="updateValor({{ entity.idReglas }},'{{ entity.Descripcion }}',this)">
											    </div>
											{% elseif entity.idReglas == 8 %}	
												<div class="input-group">
											      <div class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></div>
											      <input type="text" class="form-control" value="{{ entity.Valor }}" id="exampleInputAmount" placeholder="Pedidos por de cliente por día" onchange="updateValor({{ entity.idReglas }},'{{ entity.Descripcion }}',this)">
											    </div>
											{% elseif entity.idReglas == 9 %}	
												<div class="input-group">
											      <div class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></div>
											      <input type="text" class="form-control" value="{{ entity.Valor }}" id="exampleInputAmount" placeholder="Monto maximo para TDC" onchange="updateValor({{ entity.idReglas }},'{{ entity.Descripcion }}',this)">
											    </div>
											{% elseif entity.idReglas == 10 %}	
												<div class="input-group">
											      <div class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></div>
											      <input type="text" class="form-control" value="{{ entity.Valor }}" id="exampleInputAmount" placeholder="Monto maximo para COD" onchange="updateValor({{ entity.idReglas }},'{{ entity.Descripcion }}',this)">
											    </div>    
											{% elseif entity.idReglas == 11 %}	
												<div class="input-group">
											      <div class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></div>
											      <input type="text" class="form-control" value="{{ entity.Valor }}" id="exampleInputAmount" placeholder="Actualizacion de TDC" onchange="updateValor({{ entity.idReglas }},'{{ entity.Descripcion }}',this)">
											    </div>  	
											{% endif %}
										{% endif %}
									</div>
									<div class="col-md-6">
										<div class="col-md-12"><label>Tipo de pago</label></div>
										<div class="col-md-12">
											{% if entity.idReglas == 4 %}
												<fieldset disabled>
												<select class="form-control">
											   		<option>TDC</option>
											   	</select>
											   </fieldset>
											{% elseif entity.idReglas == 9 %}
												<fieldset disabled>
												<select class="form-control">
											   		<option>TDC</option>
											   	</select>
											   </fieldset>
											{% elseif entity.idReglas == 10 %}
												<fieldset disabled>
												<select class="form-control">
											   		<option>COD</option>
											   	</select>
											   </fieldset>
											{% elseif entity.idReglas == 11 %}
												<fieldset disabled>
												<select class="form-control">
											   		<option>TDC</option>
											   	</select>
											   </fieldset>     	     	
											{% elseif entity.idPago == 1 %}
											   	<select class="form-control" onchange="actualizarPago({{ entity.idReglas }},'{{ entity.Descripcion }}',this);">
											   		<option value="1">TDC</option>
											   		<option value="2">COD</option>
											   		<option value="3">TDC y COD</option>
											   	</select>	
											{% elseif entity.idPago == 2 %}
											    <select class="form-control" onchange="actualizarPago({{ entity.idReglas }},'{{ entity.Descripcion }}',this);">
											   		<option value="2">COD</option>
											   		<option value="1">TDC</option>
											   		<option value="3">TDC y COD</option>
											   	</select>
											{% elseif entity.idPago == 3 %}
											    <select class="form-control" onchange="actualizarPago({{ entity.idReglas }},'{{ entity.Descripcion }}',this);">
											   		<option value="3">TDC y COD</option>
											   		<option value="1">TDC</option>
											   		<option value="2">COD</option>
											   	</select>
											{% endif %}
										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-12"><label>Activo</label></div>
										<div class="col-md-12"><input {{ entity.activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" id="{{ entity.idReglas }}" onchange="activarRegla({{ entity.idReglas }},'{{ entity.Descripcion }}',this);"/></div>
									</div>
									<div class="col-md-12" id="view_ln">
											{% if entity.idReglas == 1 %}
												<button type="button" class="btn btn-info" onclick="openList({{ entity.idReglas }})">Ver Lista Negra</button>
											{% elseif entity.idReglas == 2 %}
												<button type="button" class="btn btn-info" onclick="openList({{ entity.idReglas }})">Ver Lista Negra</button>
											{% elseif entity.idReglas == 3 %}
												<button type="button" class="btn btn-info" onclick="openList({{ entity.idReglas }})">Ver Lista Negra</button>
											{% elseif entity.idReglas == 4 %}
												<button type="button" class="btn btn-info" onclick="openList({{ entity.idReglas }})">Ver Lista Negra</button>
											{% elseif entity.idReglas == 5 %}
												<button type="button" class="btn btn-info" onclick="openList({{ entity.idReglas }})">Ver Lista Negra</button>
											{% elseif entity.idReglas == 12 %}
												<button type="button" class="btn btn-info" onclick="openList({{ entity.idReglas }})">Ver Lista Negra</button>
											{% endif %}
									</div>
								</div>
							{% endfor %}								
						</div>

						<div class="row">
						{% for param in parametros %}
							<div class="col-xs-6 col-md-4">
									<div class="col-md-12" id="regla_title">
										{{ param.descripcion }}
									</div>
									<div class="col-md-12">
										<div class="col-md-12"><label>Estatus</label></div>
										<div class="col-md-12">
											<input {{ param.valor == 'true' ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" id="{{ param.idParametro }}" onchange="activarParametro({{ param.idParametro }},'{{ param.descripcion }}',this);"/>
										</div>
									</div>
							</div>		
							
						{% endfor %}
						</div>	
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-success" onclick="onoffReglas('A')">Activar Todo</button>
					<button type="button" class="btn btn-danger"  onclick="onoffReglas('D')">Desactivar Todo</button>
				</div>
      	</div>

    </div>

	</div>
{% endblock %}
{% block javascripts %}
<script>var testJSON = {{ parametros|json_encode()|raw }};</script>
	<script>
		$(document).ready(function() {
        	var table = $('#tbl_operaciones').DataTable({
        					"language":DataTables.languaje.es					
        				});

        	$( "select" ).addClass( "form-control" );
        	$( "input[type='text']" ).addClass( "form-control" );        	
			$( "input[type='search']").addClass( "form-control" );
        	$( "#tbl_operaciones_length" ).addClass( "form-inline" ); 
        	$( "#tbl_operaciones_filter" ).addClass( "form-inline" );
       
    	});


    	function openList(idList){
    		switch(idList) {
			    case 1:
			        window.open('{{ path('lista_negra_clientes') }}','_blank');
			        break;
			    case 2:
			        window.open('{{ path('lista_negra_direcciones') }}','_blank');
			        break;
			    case 3:
			        window.open('{{ path('lista_negra_montos') }}','_blank');
			        break;
			    case 4:
			        window.open('{{ path('listanegratarjetas') }}','_blank');
			        break;
			    case 5:
			        window.open('{{ path('lista_negra_telefonica') }}','_blank');
			        break;
			    case 12:
			        window.open('{{ path('lista_negra_zona_riesgo') }}','_blank');
			        break;                
			    default:
			        alert("No hay acciones programadas");
			}
    	}

    	function onoffReglas(ident){
		   	showLoading("Actualizando Reglas");
		  	var urlActivacion = "{{path('_ActivarReglas')}}"; 
			$.post(urlActivacion, {ident:ident}, function(data, textStatus, xhr) {

			  if(data.estado == 1 || data.estado == 0){
			  	
			  	hideLoading();
			  	alert(data.mensaje);			  			
			  	window.location="{{ path('reglas_fraude') }}";
			  	showLoading('Actualizando Panel ...');
			  }else{

			  	alert('Error en la Activación/Desactivación de Reglas');
			  	window.location="{{ path('reglas_fraude') }}";
			  }
			   
			});


    	}

    	function activarRegla(idRegla,desc,self){
		   	showLoading("Actualizando Regla:  </br>"+desc);
		   	var urlActivacion = "{{path('_ActivarRegla')}}"; 
		   	$.post(urlActivacion, {idRegla:idRegla,valor:self.checked}, function(data, textStatus, xhr) {

			  if(data.estado == 1 || data.estado == 0){
			  	
			  	hideLoading();
			  	alert(data.mensaje);			  			
			  	window.location="{{ path('reglas_fraude') }}";
			  	showLoading('Actualizando Panel ...');
			  }else{

			  	alert('Error en la Activación/Desactivación de Reglas');
			  	window.location="{{ path('reglas_fraude') }}";
			  }
			   
			});

    	}

    	function actualizarPago(idRegla,desc,select){
    		showLoading("Actualizando Tipo de pago de la Regla:  </br>"+desc);
    		var urlActualizacion = "{{path('_ActualizarTipoPagoRegla')}}";

    		$.post(urlActualizacion, {idRegla:idRegla,valor:select.value}, function(data, textStatus, xhr) {

			  if(data.estado == 1 || data.estado == 0){
			  	
			  	hideLoading();
			  	alert(data.mensaje);			  			
			  	window.location="{{ path('reglas_fraude') }}";
			  	showLoading('Actualizando Panel ...');

			  }else{

			  	alert('Error en la actualización del tipo de pago');
			  	window.location="{{ path('reglas_fraude') }}";

			  }
			   
			});

    	}

    	function updateValor(idRegla,desc,val){
    		 		
    		
    		if(val.value == 0 || val.value == ""){
    			alert('El valor de este campo no puede ser 0 o vacio');
    		}else{
    			showLoading("Actualizando:  </br>"+desc); 
    			var urlActualizacion = "{{path('_ActualizarValorRegla')}}"; 

    			$.post(urlActualizacion, {idRegla:idRegla,valor:val.value}, function(data, textStatus, xhr) {

				  if(data.estado == 1 || data.estado == 0){
				  	
				  	hideLoading();
				  	alert(data.mensaje);			  			
				  	window.location="{{ path('reglas_fraude') }}";
				  	showLoading('Actualizando Panel ...');

				  }else{

				  	alert('Error en la actualización');
				  	window.location="{{ path('reglas_fraude') }}";

				  }
				   
				});

    		}

    	}

    	function activarParametro(idParametro,desc,self){
		   	showLoading("Actualizando Regla:  </br>"+desc);
		   	var urlActivacion = "{{path('_ActivarParametroCRM')}}"; 
		   	$.post(urlActivacion, {idParametro:idParametro,valor:self.checked}, function(data, textStatus, xhr) {

			  if(data.estado == 1){
			  	
			  	hideLoading();
			  	alert(data.mensaje);			  			
			  	window.location="{{ path('reglas_fraude') }}";
			  	showLoading('Actualizando Panel ...');

			  }else{

			  	alert(data.mensaje);
			  	window.location="{{ path('reglas_fraude') }}";
			  }
			   
			});

    	}

	</script>
{% endblock %}