{% extends '::base.html.twig' %} 

{% block title %}Producto por Pedido{% endblock %}
{% form_theme form_lnm '::Forms/bootstrapForm.html.twig' %}

{% block stylesheets %}
	<style>		
		#form_consulta_datos {
			margin: 0px 16%;
		}
		#form_ConsultarMontos {
		    margin-top: 25px;
		    float: left;
		}
		#form_nuevoMonto {
		    float: right;
		    margin-bottom: 7px;
		}
	</style>
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">
		



      <div class="at_crcobranza">
			 <div id="bt_opmenu">
			 	{{ form_start(form_lnm, {'attr': {'id': 'form_consulta_datos'}}) }}
                  {% for row in [
                    [ ['Producto',2], ['ConsultarMontos'] ],
                    [ ['nuevoMonto'] ]
                    ] 
                  %}
                    <div class="row">   
                    {% for field in row %}
                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
                        {% if (attribute(form_lnm, field[0]) is defined) %}
                          {{ form_row(attribute(form_lnm, field[0])) }}
                        {% endif %}
                      </div>
                    {% endfor %}
                    </div>
                  {% endfor %}
                  {{ form_rest(form_lnm) }}
                  {{ form_end(form_lnm) }}			 	
      		</div>
      	<div class="table-responsive">	      	
      		<table id='tbl_operaciones' class="table table-bordered">
				<thead class='head_table'>
					<tr>
						<td style="width: 493px;">Producto</td>
						<td style="width: 90px;">Clave Producto</td>
						<td style="width: 155px;">Cantidad Maxima por Compra</td>
						<td style="width: 62px;">Activo</td>
						<td style="width: 62px;">Editar</td>
					</tr>
				</thead>
				<tbody id="body_tbl_operaciones" style="background: white;">
						{% for entity in productos %}
					<tr>
						<td>{{ entity.NombreProducto }}</td>
						<td>{{ entity.ClaveProducto }}</td>
						<td>{{ entity.Monto }}</td>
						<td>
							<div class="col-md-12"><input {{ entity.Activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" id="{{ entity.idMonto }}" onchange="activarProducto({{ entity.idMonto }},this);"/></div>
						</td>
						<td>
							<button class="btn btn-warning" onclick="editProducto({{ entity.idMonto }})"><span class="glyphicon glyphicon-pencil"></span></button>
						</td>
					</tr>	
						{% endfor %}	
				</tbody>
			</table>	
		</div>								
      </div>

<!--POP-UP PARA NUEVA REGLA DE PRODUCTO-->

      	<div class="modal fade bs-example-modal-lg modal_base" id="pop_newMonto" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
			      	<div class="modal-header">
			      		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Nueva Regla Producto Pedido</h4>
			      	</div>
				    <div class="modal-body">
				    		{{ form_start(form_newmonto) }}
			                  {% for row in [
			                    [ ['newProducto',2],   ['newCantidad']],
			                    [ ['Guardar'] ],
			                    ] 
			                  %}
			                    <div class="row">   
			                    {% for field in row %}
			                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
			                        {% if (attribute(form_newmonto, field[0]) is defined) %}
			                          {{ form_row(attribute(form_newmonto, field[0])) }}
			                        {% endif %}
			                      </div>
			                    {% endfor %}
			                    </div>
			                  {% endfor %}
			                  {{ form_rest(form_newmonto) }}
			                  {{ form_end(form_newmonto) }}	
				    </div>	
		    </div>	
		  </div>
		</div>

<!--POP-UP PARA EDITAR REGLA DE PRODUCTO-->

      	<div class="modal fade modal_base" id="pop_editMonto" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
			      	<div class="modal-header">
			      		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Edición de Regla</h4>
			      	</div>
				    <div class="modal-body" id="body_editMonto">
				    </div>	
		    </div>	
		  </div>
		</div>


	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function() {
        	var table = $('#tbl_operaciones').DataTable({
        					"language":DataTables.languaje.es					
        				});

        	$( "select" ).addClass( "form-control" );
        	$( "input[type='text']" ).addClass( "form-control" );        	
			$( "input[type='search']").addClass( "form-control" );
        	$( "#tbl_operaciones_length" ).addClass( "form-inline" ); 
        	$( "#tbl_operaciones_filter" ).addClass( "form-inline" );
       
    	});

    	function loadMontos(){
    			showLoading("Buscando...");
		}

		function popupNewMonto(){
			$('#form_newProducto').val("");
    		$('#form_newCantidad').val("");
			$('#pop_newMonto').modal({
		      backdrop: 'static',
		      keyboard: false
		    });
		}

    	function newMonto(){
    		var idProducto = $('#form_newProducto').val();
    		var cantidad = $('#form_newCantidad').val();

    		if(idProducto && cantidad){
    			showLoading("Registrando Regla...");
		   			var urlActivacion = "{{path('set_ln_prdt')}}"; 
		   	
				   $.post(urlActivacion, {idProducto:idProducto,cantidad:cantidad}, function(data, textStatus, xhr) {

					  if(data.estado == 1){
					  	
					  	hideLoading();
					  	alert(data.mensaje);

					  }else{

					  	hideLoading();
					  	alert(data.mensaje);
					  }
					   
					});
					
    		}else{
    			alert("Debe indicar:</br>->Producto</br>->Cantidad");
    		}
    	}

		function activarProducto(idMonto,self){
		   	showLoading("Actualizando Producto...");
		   	var urlActivacion = "{{path('_ActivarReglaProducto')}}"; 
		   	
		   $.post(urlActivacion, {idMonto:idMonto,valor:self.checked}, function(data, textStatus, xhr) {

			  if(data.estado == 1){
			  	
			  	hideLoading();
			  	alert(data.mensaje);
			  }else{
			  	if(self.checked){
			  		$('#'+idMonto).prop('checked', false);
			  	}else{
			  		$('#'+idMonto).prop('checked', true);
			  	}
			  	hideLoading();
			  	alert('Error en la Activación/Desactivación de Producto');
			  }
			   
			});

    	}

    	function editProducto(idProducto){
    		var urledit = "{{path('_getReglaProducto')}}"; 		   	
		   	showLoading("Cargando Datos...");
		   $.post(urledit, {idProducto:idProducto}, function(data, textStatus, xhr) {

			  if(data.estado == 1){
			  	hideLoading();
			  	var form_data ="<div class='container-fluid'><div clas='row'>"+
				  					"<div class='col-md-4'>"+
				  						"Producto:"+		  						
				  					"</div>"+
				  					"<div class='col-md-8'>"+
				  						data.producto.NombreProducto+
				  					"</div></div>"+
				  					"<div clas='row'><div class='col-md-4'>"+
				  						"Cantidad:"+
				  					"</div>"+
				  					"<div class='col-md-8'>"+
				  						"<input type='text' id='txt_cantidad' class='form-control' value='"+data.producto.Monto+"'/>"+
				  					"</div>"+
				  					"<div class='col-md-12' style='text-align: center; margin-top: 3%;'>"+
				  						"<button onclick='updateProducto("+data.producto.idMonto+")' class='btn btn-success'>Guardar</button>"+
				  					"</div>"+
			  					"</div></div>";
			  	$('#body_editMonto').html(form_data);			
			  	$('#pop_editMonto').modal({
			      backdrop: 'static',
			      keyboard: false
			    });
			  }else{
			  	hideLoading();			  	
			  	alert("Error en la carga de datos");
			  }
			   
			});
    	}

    	function updateProducto(idRegla){
    		showLoading("Actualizando Datos...");
    		var cantidad = $('#txt_cantidad').val();
    		var urlUpdateRegla = "{{path('_UpdateReglaProducto')}}"; 
		   	
		   $.post(urlUpdateRegla, {idRegla:idRegla,cantidad:cantidad}, function(data, textStatus, xhr) {

			  if(data.estado == 1){
			  	
			  	hideLoading();
			  	alert(data.mensaje);
			  	$('#pop_editMonto').modal('hide');
			  	$('#form_ConsultarMontos').click();
			  	showLoading("Cargando Datos...");
			  }else{
			  	hideLoading();
			  	alert(data.mensaje);
			  }
			   
			});
    	}
	</script>
{% endblock %}