{% extends '::base.html.twig' %} 

{% block title %}Lista Negra Direcciones{% endblock %}
{% form_theme form_lnd '::Forms/bootstrapForm.html.twig' %}

{% block stylesheets %}
	<style>
	</style>
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">
		



      <div class="at_crcobranza">
			 <div id="bt_opmenu">
			 	{{ form_start(form_lnd) }}
                  {% for row in [
                    [ ['cp'],    		['Municipio'],  ['Colonia'] ],
                    [ ['ConsultarDir'],   	['nuevaDir'],  	['ExcelDir'] ]
                    ] 
                  %}
                    <div class="row">   
                    {% for field in row %}
                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
                        {% if (attribute(form_lnd, field[0]) is defined) %}
                          {{ form_row(attribute(form_lnd, field[0])) }}
                        {% endif %}
                      </div>
                    {% endfor %}
                    </div>
                  {% endfor %}
                  {{ form_rest(form_lnd) }}
                  {{ form_end(form_lnd) }}			 	
      		</div>
      	<div class="table-responsive">	      	
      		<table id='tbl_operaciones' class="table table-bordered">
				<thead class='head_table'>
					<tr>
						<td>Codigo Postal (CP)</td>
						<td>Municipio</td>
						<td>Colonia</td>
						<td>Activo</td>
					</tr>
				</thead>
				<tbody id="body_tbl_operaciones" style="background: white;">
						{% for entity in direcciones %}
					<tr>
						<td>{{ entity.CP }}</td>
						<td>{{ entity.Municipio }}</td>
						<td>{{ entity.Colonia }}</td>
						<td>
							<div class="col-md-12"><input {{ entity.Activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" id="{{ entity.idDireccion }}" onchange="activarDireccion({{ entity.idDireccion }},this);"/></div>
						</td>	
					</tr>	
						{% endfor %}	
				</tbody>
			</table>	
		</div>								
      </div>

<!--POP-UP PARA NUEVA DIRECCIÓN-->

      	<div class="modal fade modal_base" id="pop_newDireccion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog ">
		    <div class="modal-content">
			      	<div class="modal-header">
			      		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Nueva Dirección</h4>
			      	</div>
				    <div class="modal-body">
				    		{{ form_start(form_newdir) }}
			                  {% for row in [
			                    [ ['newcp'],   ['newMunicipio'],  ['newColonia'] ],
			                    [ ['Guardar']]
			                    ] 
			                  %}
			                    <div class="row">   
			                    {% for field in row %}
			                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
			                        {% if (attribute(form_newdir, field[0]) is defined) %}
			                          {{ form_row(attribute(form_newdir, field[0])) }}
			                        {% endif %}
			                      </div>
			                    {% endfor %}
			                    </div>
			                  {% endfor %}
			                  {{ form_rest(form_newdir) }}
			                  {{ form_end(form_newdir) }}	
				    </div>	
		    </div>	
		  </div>
		</div>

<!--POP-UP PARA CARGA DE EXCEL LISTA NEGRA DIRECCIONES-->

      	<div class="modal fade modal_base" id="pop_cargaExcel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog ">
		    <div class="modal-content">
			      	<div class="modal-header">
			      		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Carga de Excel <b>LISTAS NEGRAS DIRECCIONES</b></h4>
			      	</div>
				    <div class="modal-body">
				    		{{ form_start(form_exceldir) }}
			                  {% for row in [
			                    [ ['archivo',2],    		['Enviar']]
			                    ] 
			                  %}
			                    <div class="row">   
			                    {% for field in row %}
			                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
			                        {% if (attribute(form_exceldir, field[0]) is defined) %}
			                          {{ form_row(attribute(form_exceldir, field[0])) }}
			                        {% endif %}
			                      </div>
			                    {% endfor %}
			                    </div>
			                  {% endfor %}
			                  {{ form_rest(form_exceldir) }}
			                  {{ form_end(form_exceldir) }}
				    </div>	
		    </div>	
		  </div>
		</div>


	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function() {
        	var table = $('#tbl_operaciones').DataTable({
        					"language":DataTables.languaje.es					
        				});

        	$( "select" ).addClass( "form-control" );
        	$( "input[type='text']" ).addClass( "form-control" );        	
			$( "input[type='search']").addClass( "form-control" );
        	$( "#tbl_operaciones_length" ).addClass( "form-inline" ); 
        	$( "#tbl_operaciones_filter" ).addClass( "form-inline" );
       
    	});

    	function loadPedidos(){
			showLoading("Buscando...");
		}

		function popupNewDireccion(){
			$('#pop_newDireccion').modal({
		      backdrop: 'static',
		      keyboard: false
		    });
		}

		function popupLoadExcel(){
			$('#pop_cargaExcel').modal({
		      backdrop: 'static',
		      keyboard: false
		    });
		}

		function getInfo(ident){

	    var getInformacion = "{{path('get_info_dir_json')}}"; 

	    if(ident == 1){
	      
	      var CP = $('#form_newcp').val();
	      $('#form_newColonia').find('option').remove();
	      $('#form_newMunicipio').find('option').remove();
	      if(CP){      
	          showLoading('Validando Codigo Postal...');
	          $.post(getInformacion, {ident:ident,CP:CP}, function(data, textStatus, xhr) {

	              if(data.estatus == 1){

	                hideLoading();
	                $('#form_newColonia').append('<option value="0">------------------------------------------</option>');
	                for(var c=0;c<=data.colonias.length-1;c++){
	                    $('#form_newColonia').append('<option value="'+data.colonias[c].cp+'|'+data.colonias[c].nombre+'">'+data.colonias[c].nombre+'</option>');
	                }
	                for(var m=0;m<=data.municipios.length-1;m++){
	                    $('#form_newMunicipio').append('<option value="'+data.municipios[m].idMunicipio+'">'+data.municipios[m].nombre+'</option>');
	                }  

	                $('#form_newMunicipio option[value='+data.colonias[0].municipio.idMunicipio+']').attr('selected','selected');


	              }else{
	                alert("El codigo postal no existe");
	                $('#form_newMunicipio').find('option').remove();
	                $('#form_newColonia').find('option').remove();
	                hideLoading();
	              }
	           
	          });
	      }else{
	        $('#form_newMunicipio').find('option').remove();
	        $('#form_newColonia').find('option').remove();
	      }    
	    }else if(ident == 2){

	      var MUN = $('#form_newMunicipio').val();
	      if(MUN != 0){
	        $('#form_newColonia').find('option').remove();
	        $('#form_newcp').val("");      

	          showLoading('Cargando Colonias...');
	          $.post(getInformacion, {ident:3,MUN:MUN}, function(data, textStatus, xhr) {

	              if(data.estatus == 1){

	                hideLoading();
	                $('#form_newColonia').append('<option value="0">------------------------------------------</option>');
	                for(var c=0;c<=data.colonias.length-1;c++){
	                    $('#form_newColonia').append('<option value="'+data.colonias[c].cp+'|'+data.colonias[c].nombre+'">'+data.colonias[c].nombre+'</option>');
	                }

	              }else{
	                alert("ERROR AL CARGAR COLONIAS");
	                hideLoading();
	              }
	           
	          });     

	      }

	    }else if(ident == 3){

	      var CP = $('#form_newColonia').val();
	      if(CP != 0){

	      var posicion = CP.indexOf('|');
	      CP = CP.substring(0,posicion);
	        $('#form_newcp').val(CP);
	      }
	      

	    }
  }

  function newDir(){
  	var CP = $('#form_newcp').val();
  	var COL = $('#form_newColonia').val();
  	var MUN = $('#form_newMunicipio').val();

  	if(CP && COL != "0" && MUN != "0"){

  	var posicion = COL.indexOf('|');
	COL = COL.substring(posicion+1);
  		showLoading('Guardando en Lista Negra');
  		var ResgitraDir = "{{path('set_direccion_list')}}"; 
	          $.post(ResgitraDir, {CP:CP,COL:COL,MUN:MUN}, function(data, textStatus, xhr) {

	              if(data.estatus == 1){

	                hideLoading();
	                alert(data.mensaje);

	              }else{
	                alert(data.mensaje);
	                hideLoading();
	              }
	           
	          });
  	}else{
  		alert("Debe indicar: </br>->Codigo Postal</br>->Municipio</br>->Colonia");
  	}
  }

  function activarDireccion(idDireccion,self){
		   	showLoading("Actualizando Dirección:  </br>");
		   	var urlActivacion = "{{path('_ActivarDireccion')}}"; 
		   	
		   $.post(urlActivacion, {idDireccion:idDireccion,valor:self.checked}, function(data, textStatus, xhr) {

			  if(data.estado == 1){
			  	
			  	hideLoading();
			  	alert(data.mensaje);
			  }else{
			  	if(self.checked){
			  		$('#'+idDireccion).prop('checked', false);
			  	}else{
			  		$('#'+idDireccion).prop('checked', true);
			  	}
			  	hideLoading();
			  	alert('Error en la Activación/Desactivación de Direcciones');
			  }
			   
			});

    	}

	</script>
{% endblock %}