{% extends '::base.html.twig' %} 

{% block title %}Zonas de Riesgo{% endblock %}
{% form_theme form_lnzr '::Forms/bootstrapForm.html.twig' %}

{% block stylesheets %}
	<style>
		#form_ConsultarZona {
		    float: left;
		    margin-top: 25px !important;
		}
		#form_consulta_datos {
		    margin-left: 20%;
		}
	</style>
{% endblock %}
{% block body %}
<!--BARRA DE MENUS-->
	<div class="container" style="width:97%; margin-top:15px;">
		



      <div class="at_crcobranza">
			 <div id="bt_opmenu">
			 	{{ form_start(form_lnzr, {'attr': {'id': 'form_consulta_datos'}}) }}
                  {% for row in [
                    [ ['cp'],    		['Municipio'],  ['ConsultarZona'] ],
                    [ ['nuevaZona'],   	['ExcelZona'] ]
                    ] 
                  %}
                    <div class="row">   
                    {% for field in row %}
                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
                        {% if (attribute(form_lnzr, field[0]) is defined) %}
                          {{ form_row(attribute(form_lnzr, field[0])) }}
                        {% endif %}
                      </div>
                    {% endfor %}
                    </div>
                  {% endfor %}
                  {{ form_rest(form_lnzr) }}
                  {{ form_end(form_lnzr) }}			 	
      		</div>
      	<div class="table-responsive">	      	
      		<table id='tbl_operaciones' class="table table-bordered">
				<thead class='head_table'>
					<tr>
						<td>Codigo Postal (CP)</td>
						<td>Municipio</td>
						<td>Activo</td>
					</tr>
				</thead>
				<tbody id="body_tbl_operaciones" style="background: white;">
						{% for entity in zonasriesgo %}
					<tr>
						<td>{{ entity.CP }}</td>
						<td>{{ entity.Municipio }}</td>
						<td>
							<div class="col-md-12"><input {{ entity.Activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" id="{{ entity.idZonaRiesgo }}" onchange="activarZonaRiesgo({{ entity.idZonaRiesgo }},this);"/></div>
						</td>	
					</tr>	
						{% endfor %}	
				</tbody>
			</table>	
		</div>								
      </div>

<!--POP-UP PARA NUEVA DIRECCIÓN-->

      	<div class="modal fade modal_base" id="pop_newZona" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog ">
		    <div class="modal-content">
			      	<div class="modal-header">
			      		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Nueva Zona de Riesgo</h4>
			      	</div>
				    <div class="modal-body">
				    		{{ form_start(form_newzona) }}
			                  {% for row in [
			                    [ ['newcp'],   ['newMunicipio'],  ['Guardar'] ]
			                    ] 
			                  %}
			                    <div class="row">   
			                    {% for field in row %}
			                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
			                        {% if (attribute(form_newzona, field[0]) is defined) %}
			                          {{ form_row(attribute(form_newzona, field[0])) }}
			                        {% endif %}
			                      </div>
			                    {% endfor %}
			                    </div>
			                  {% endfor %}
			                  {{ form_rest(form_newzona) }}
			                  {{ form_end(form_newzona) }}	
				    </div>	
		    </div>	
		  </div>
		</div>

<!--POP-UP PARA CARGA DE EXCEL LISTA NEGRA DIRECCIONES-->

      	<div class="modal fade modal_base" id="pop_cargaExcel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog ">
		    <div class="modal-content">
			      	<div class="modal-header">
			      		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        	<h4 class="modal-title" id="myModalLabel">Carga de Excel <b>ZONAS DE RIESGO</b></h4>
			      	</div>
				    <div class="modal-body">
				    		{{ form_start(form_excelzona) }}
			                  {% for row in [
			                    [ ['archivo',2],    		['Enviar']]
			                    ] 
			                  %}
			                    <div class="row">   
			                    {% for field in row %}
			                      <div class="col-xs-{{ field[1] is defined ? field[1] * 4 :  4 }}">
			                        {% if (attribute(form_excelzona, field[0]) is defined) %}
			                          {{ form_row(attribute(form_excelzona, field[0])) }}
			                        {% endif %}
			                      </div>
			                    {% endfor %}
			                    </div>
			                  {% endfor %}
			                  {{ form_rest(form_excelzona) }}
			                  {{ form_end(form_excelzona) }}
				    </div>	
		    </div>	
		  </div>
		</div>


	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function() {
        	var table = $('#tbl_operaciones').DataTable({
        					"language":DataTables.languaje.es					
        				});

        	$( "select" ).addClass( "form-control" );
        	$( "input[type='text']" ).addClass( "form-control" );        	
			$( "input[type='search']").addClass( "form-control" );
        	$( "#tbl_operaciones_length" ).addClass( "form-inline" ); 
        	$( "#tbl_operaciones_filter" ).addClass( "form-inline" );
       
    	});

    	function loadPedidos(){
			showLoading("Buscando...");
		}

		function popupNewZona(){
			$('#pop_newZona').modal({
		      backdrop: 'static',
		      keyboard: false
		    });
		}

		function popupLoadExcel(){
			$('#pop_cargaExcel').modal({
		      backdrop: 'static',
		      keyboard: false
		    });
		}

		function getInfo(ident){

	    var getInformacion = "{{path('get_info_dir_json')}}"; 

	    if(ident == 1){
	      
	      var CP = $('#form_newcp').val();
	      
	      $('#form_newMunicipio').find('option').remove();
	      if(CP){      
	          showLoading('Validando Codigo Postal...');
	          $.post(getInformacion, {ident:ident,CP:CP}, function(data, textStatus, xhr) {

	              if(data.estatus == 1){

	                hideLoading();	                
	                for(var m=0;m<=data.municipios.length-1;m++){
	                	if(data.municipios[m].idMunicipio == data.colonias[0].municipio.idMunicipio ){
	                    	$('#form_newMunicipio').append('<option value="'+data.municipios[m].idMunicipio+'">'+data.municipios[m].nombre+'</option>');
	                	}
	                } 


	              }else{
	                alert("El codigo postal no existe");
	                $('#form_newMunicipio').find('option').remove();
	                hideLoading();
	              }
	           
	          });
	      }else{
	        $('#form_newMunicipio').find('option').remove();
	      }    
	    }
  }

    	function newZona(){
    		var CP = $('#form_newcp').val();
    		var MUN = $('#form_newMunicipio').val();

    		if(CP && MUN){
    			var setZonaRiesgo = "{{path('set_zona_riesgo')}}"; 
    			showLoading('Guardando registro...');
		          $.post(setZonaRiesgo, {CP:CP,MUN:MUN}, function(data, textStatus, xhr) {

		              if(data.estatus == 1){

		                hideLoading();	                
		               	alert(data.mensaje);

		              }else{
		                hideLoading();	                
		               	alert(data.mensaje);
		              }
		           
		          });
    		}else{
    			alert("Debe definir:</br>->Codigo Postal(CP)</br>->Municipio");
    		}
    	}

    	function activarZonaRiesgo(idZona,self){
		   	showLoading("Actualizando Zona de Riesgo:  </br>");
		   	var urlActivacion = "{{path('_ActivarZonaRiesgo')}}"; 
		   	
		   $.post(urlActivacion, {idZona:idZona,valor:self.checked}, function(data, textStatus, xhr) {

			  if(data.estado == 1){
			  	
			  	hideLoading();
			  	alert(data.mensaje);
			  }else{
			  	if(self.checked){
			  		$('#'+idZona).prop('checked', false);
			  	}else{
			  		$('#'+idZona).prop('checked', true);
			  	}
			  	hideLoading();
			  	alert('Error en la Activación/Desactivación de Zonas de Riesgo');
			  }
			   
			});

    	}

	</script>
{% endblock %}