{% extends '::base.html.twig' %}
{% block title %}Horarios{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css/jquery.dataTables.css') }}">
{% endblock %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Horarios</h1>

            <a class="btn btn-success" href="{{ path('horarios_new') }}">
                Crear Horario
            </a>
            <br />
            <br />
    <table id="tabla" class="table table-bordered table-striped table-condensed">
        <thead class="head_table">
            <tr>
                <th>Descripción</th>
                <th>Hora Entrada</th>
                <th>Hora Salida</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.horaentrada.date|date("H:i:s") }}</td>
                <td>{{ entity.horasalida.date|date("H:i:s") }}</td>
                <td align="center"><input {{ entity.activo == 1 ? 'checked' }} type="checkbox" style="width: 30px;height:30px;" name="estado{{ entity.idhorario }}" onchange="actualiza({{ entity.idhorario }}, this);"/> </td>
                <td>
                        <a class="btn btn-primary"  href="{{ path('horarios_show', { 'id': entity.idhorario }) }}">Ver</a>

                        <a class="btn btn-primary"  href="{{ path('horarios_edit', { 'id': entity.idhorario }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    {% endblock %}

  {% block javascripts %}
    <!--TABLE API -->
    <script src="{{ asset('vendor/js/DataTablesJQuery.js') }}"></script>
    <!--**********-->
    
<script type="text/javascript">
var urlActualiza = "{{path('_ActualizarHorarios')}}"; 
function actualiza(idhorario, self){

$.post(urlActualiza, {idhorario:idhorario,valor:self.checked}, function(data, textStatus, xhr) {
   /*cosas opcionales que hacer después del éxito */
   if (data.estado!=1){
      alert(data.mensaje);
   }  
  });
  }
  </script>
    
<script type="text/javascript">  
  $(document).ready(function() {
    $('#tabla').dataTable({
        "language":DataTables.languaje.es                    
                        });


      $( "select" ).addClass( "form-control" );
      $( "input[type='text']" ).addClass( "form-control" );
      $( "input[type='search']").addClass( "form-control" );
      $( "#usuarios_length" ).addClass( "form-inline" );
      $( "#usuarios_filter" ).addClass( "form-inline" );

} );
</script>
{% endblock %}
