{% extends '::base.html.twig' %}

{% block title %}Horarios{% endblock title %}
{% form_theme form '::Forms/bootstrapForm.html.twig' %}
{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Crear Horario</h1>

        <a type="button" class="btn btn-primary"  href="{{ path('horarios') }}">
            Regresar al Listado
        </a>
        <br /><br />
    {{ form(form) }}

</div>
{% endblock %}
