{% extends '::base.html.twig' %}

{% block title %}Horarios{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
    <h1>Detalle de Horario </h1>

        <a class="btn btn-primary" href="{{ path('horarios') }}">
            Regresar al Listado
        </a>

        <a class="btn btn-primary" href="{{ path('horarios_edit', { 'id': entity.idhorario }) }}">
            Editar
        </a>
    
    <br /><br />
    <table class="table table-bordered table-striped table-condensed">
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Horaentrada</th>
                <td>{{ entity.horaentrada.date|date("H:i:s") }}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{{ entity.horasalida.date|date("H:i:s") }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo == 1 ? 'Si' : 'No'}} </td>
            </tr>
        </tbody>
    </table>
    {{ form(delete_form) }}
</div>
{% endblock %}
