{% extends '::base.html.twig' %}

{% block title %}Parametros{% endblock title %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">

    <h1>Parametros</h1>

        <ul>
        <li>
            <a href="{{ path('parametros_new') }}">
                Crear Parametro
            </a>
        </li>
    </ul>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.clave }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.valor }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('parametros_edit', { 'id': entity.idParametro }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
    {% endblock %}
