{% extends '::baseIntranet.html.twig' %}

{% block title %} INTRANET - Leer Mensaje {% endblock title %}

{% block stylesheets %}
	<style>
		.has-feedback .form-control {
		    padding-right: 50%;
		}
		.form-control-feedback {
			top: 0px !important;
		}
	</style>	
{% endblock %}

{% block body -%}
        
        <section class="content-header">
          <h1>
            Inbox
          </h1>
        </section>       

        <section class="content">
        	<div class="row">
            
            <div class="col-md-3">
              <a href="{{ path('new_message') }}" class="btn btn-primary btn-block margin-bottom">
                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Nuevo mensaje
              </a>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Herramientas</h3>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('show_inbox') }}"><i class="fa fa-inbox"></i> Inbox (No leidos) <span class="label label-primary pull-right" id="load_total_inbox3">0</span></a></li>
                    <li><a href="{{ path('show_inbox_send') }}"><i class="fa fa-arrow-circle-right"></i> Mensajes Enviados</a></li>
                    <li><a href="{{ path('show_inbox_delete') }}"><i class="fa fa-times-circle-o"></i> Mensajes Eliminados</a></li>
                    <li><a href="{{ path('show_inbox_leidos') }}"><i class="glyphicon glyphicon-eye-open"></i> Mensajes Leidos</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /. box -->
            </div><!-- /.col -->

            <div class="col-md-9">
               <div class="box box-primary">
                <div class="box-header with-border">
                  <h3>{{ Info.Asunto }}</h3>                 
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-read-info">                    
                    <h5>De:&nbsp;&nbsp; {{ Info.Emisor.uNombre }} {{ Info.Emisor.uApPaterno }} {{ Info.Emisor.uApMaterno }}</h5>
                    <h5>CC:&nbsp;&nbsp; {{ CC }}</h5>
                    <h5 style="margin-bottom: 2%;">
                      <span class="mailbox-read-time pull-right">{{ Info.Fecha.date|date("d/m/Y H:i:s") }}</span>
                    </h5>
                  </div><!-- /.mailbox-read-info -->
                  <div class="mailbox-controls with-border text-center">
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Eliminar" onclick="eliminarMensajes({{ Info.idMensaje }})"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Responder" onclick="Responder({{ Info.idMensaje }})"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Reenviar" onclick="Reenvio({{ Info.idMensaje }})"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                  </div><!-- /.mailbox-controls -->
                  <div class="mailbox-read-message">
                      <div class="body_msj" style="padding: 2%; border: 1px solid rgb(60, 141, 203);">
                        {{ Info.Cuerpo|raw }}
                      </div>
                  </div><!-- /.mailbox-read-message -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                    <button class="btn btn-default"  onclick="Responder({{ Info.idMensaje }})"><i class="fa fa-reply"></i> Responder</button>
                    <button class="btn btn-default"  onclick="Reenvio({{ Info.idMensaje }})"><i class="fa fa-share"></i> Reenviar</button>
                  </div>
                  <button class="btn btn-default" onclick="eliminarMensajes({{ Info.idMensaje }})"><i class="fa fa-trash-o" ></i> Eliminar</button>
                </div><!-- /.box-footer -->
              </div><!-- /. box -->
            </div><!-- /.col -->

          </div><!-- /.row -->
        </section>	
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {
		    $('#tbl_inbox').DataTable({
        					"language":DataTables.languaje.es
										 					
        	});

		    $( "select" ).addClass( "form-control" );
			$( "input[type='text']" ).addClass( "form-control" );
			$( "input[type='search']").addClass( "form-contro" );		        	
			$( "#tbl_inbox_length" ).addClass( "form-inline" );
			$( "#tbl_inbox_filter" ).addClass( "form-inline" );



		} );

		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})

    function eliminarMensajes(idmsj){

      showLoading('Eliminando Mensaje(s)');
        var urlActualiza = "{{path('delete_mensaje_rd')}}";        
        $.post(urlActualiza, {Mensajes:idmsj}, function(data, textStatus, xhr) {
         if (data.estatus == 1){     
            hideLoading(); 
            alert(data.mensaje); 
         }else{
            alert(data.mensaje);
            hideLoading();
         }  
        });

    }

    function Reenvio(idMensaje){
    showLoading("Preparando para reenvio");
    document.location.href= '{{ path('reenviar_mensaje', { 'id': Info.idMensaje  }) }}';

    }

    function Responder(idMensaje){
      showLoading("Preparando para responder");
      document.location.href= '{{ path('responder_mensaje', { 'id': Info.idMensaje  }) }}';

    }
	</script>

{% endblock %}