{% extends '::base.html.twig' %}

{% block body -%}
<div class="container generalContainer" id="pf_opmenu">
{% include 'MDRPuntoVentaBundle:Direcciones:form.html.twig' with {form:edit_form} only %}
</div>
{% endblock %}